[2012-06-06 19:56] alq666 opened #2 "Better testing infrastructure"
Using something like [sous-chef](https://github.com/DataDog/sous-chef)

[2012-07-25 16:53] alq666 opened #6 "Need to make sure apt/yum cookbooks are loaded when dd-handler is run"
Can move this to default and include it in both dd-agent and dd-handler recipes.

[2012-08-21 15:55] alq666 opened #8 "Add tags to datadog.conf.erb, make them attributes"
So that tags can be controlled directly from the chef role.

[2012-08-22 02:37] miketheman opened #10 "Handler loading is broken with chef_handler 1.0.6"
Since chef_handler left 1.0.2, chef-handler-datadog won't load properly anymore.

There's a few ways to potentially make it work:
1. Change the `source` line in the handler resource, like so:

[code]
2. Work of pushing some changes upstream to `chef_handler`, to allow for loading a handler in 3 different ways: via gem using a gem path under 'chef/handler/, via gem using a gem path not under 'chef'

[2012-08-22 16:11] miketheman opened #11 "Version 0.1.1 Cookbook release"
This release jumps the numbering scheme, but since version 0.1.0 has already been released on the community site, automated tools will select it when downloading the "most recent" cookbook.

Should incorporate:
- moving cookbook to first-class repo
- some automated travis testing
- some unit testing with ChefSpec

[2012-08-22 16:12] #11 closed, assigned to nobody

[2012-08-22 16:14] miketheman opened #12 "Move cookbook to first-class repo"
Steps that need to be done:
1. Move the code in the repo to the root of the project
2. Rename the current repo to `chef-datadog`
3. Create a new repo named `Datadog/cookbooks` add a README.md that points to the new one
4. Update any processes that use the repo to reflect the change

Steps 204 need to be done/confirmed by an Owner.

[2012-08-23 19:58] #8 closed, assigned to nobody

[2012-08-24 13:30] #12 closed, assigned to nobody

[2012-09-10 20:11] alq666 opened #17 "dd-handler exception chef 10.12"
[code]

[2012-09-14 04:03] #2 closed, assigned to alq666

[2012-09-15 21:23] #6 closed, assigned to alq666

[2012-09-15 21:26] alq666 opened #19 "chefignore is... ignored"
Running 10.14.2 from Opscode's apt repo, I get, when I try to upload the cookbook, with `chefignore` in the root of the cookbook repository and in the `datadog` cookbook.

[code]

[2012-09-16 01:04] #19 closed, assigned to miketheman

[2012-09-16 01:13] miketheman opened #20 "Remove extraneous package dependencies"
As referenced in #6, adding `ruby-dev` packages may not be required by the `dd-handler` recipe, as the handler is executed at compile time, and the packages would be installed at execution time.

Lines: https://github.com/DataDog/chef-datadog/blob/master/recipes/dd-handler.rb#L23-38

[2012-09-16 01:29] #10 closed, assigned to nobody

[2012-09-17 21:43] #17 closed, assigned to miketheman

[2012-09-18 14:56] alq666 opened #21 "Add dependency management in dd-agent.rb"
E.g. if I have redis on, I should install the right redis package as part of the agent installation, same thing for mysql, postgresql, etc.

We should stop short of making modifications to the underlying service configuration (e.g. adding datadog to pg_hba.conf) to avoid surprises. We may decide to log a message if we can detect that the mysql dependencies are installed but the check is failing (b

[2012-09-18 15:56] #20 closed, assigned to miketheman

[2012-09-26 20:31] clutchski opened #22 "unnecessary files in the datadog cookbook"
Someone in #datadog let us know that there are some unnecessary files in this cookbook, like .rvmrc, .gitignore, Berksfile.lock etc

[2012-09-26 21:07] alq666 opened #23 "Default attributes set to nil can override attributes set at the same level"
In one instance, using our cookbook with chef solo causes the Redis attributes to be set to nil by our cookbook thereby causing the Redis cookbook to run with nil attributes. There are workaround for this, e.g. set the Redis attributes at a higher priority than that of our cookbook but we're not playing nice.

Suggested solution #1: namespace our attributes to read from the Redis attributes with o

[2012-11-09 20:00] miketheman opened #29 "Replace execute with package provider"
As seen [here](https://github.com/DataDog/chef-datadog/blob/master/recipes/dd-agent.rb#L39-42) using the execute is probably not the best way to solve this, since the [`package`](http://wiki.opscode.com/display/chef/Resources#Resources-Package) provider does indeed provide an EasyInstall method.

[2012-11-27 03:27] alq666 opened #32 "Datadog alerts can be controlled from chef"
Contributed by @littonj

[code]

[code]

[2012-12-13 12:17] alq666 opened #36 "chef-handler-datadog 0.1.1 does not run on Chef 0.9.18"
- chef 0.9.18 via apt-get
- chef-handler-datadog 0.0.1
- chef 0.16.12 via gems

[code]

[2012-12-13 12:30] #36 closed, assigned to nobody

[2013-01-23 23:35] wickett opened #40 "Agent install not working via chef (apt-1.8.0)"
On ubuntu 12.04 with apt cookbook 1.8.0 and datadog cookbook 0.1.2 I get this error

ec2-23-20-41-214.compute-1.amazonaws.com [2013-01-23T20:59:38+00:00] INFO: Processing package[datadog-agent] action install (datadog::dd-agent line 45)
ec2-23-20-41-214.compute-1.amazonaws.com
ec2-23-20-41-214.compute-1.amazonaws.com ================================================================================

[2013-01-27 03:41] alq666 opened #41 "Agent install not working via chef-solo (apt-1.8.0)"
Reported by 2 users

[code]

[2013-01-27 23:01] #29 closed, assigned to alq666

[2013-01-27 23:13] #40 closed, assigned to alq666

[2013-01-27 23:13] #41 closed, assigned to alq666

[2013-03-25 18:15] kiall opened #47 "dd-handler recipe incompatible with non-omnibus .deb chef-installs."
The `datadog:dd-handler` recipe will trigger a rubygems provided install of chef to be installed alongside the .deb installed chef.

In our case, this has silently upgraded us from chef 10.18.2 to 10.24.0.

With the non-omnibus chef packages[1](http://apt.opscode.com/dists/precise-0.10/), the "chef_gem" resource installs gems system wide, with no difference to the standard "gem" resource.

Since c

[2013-03-25 18:21] kiall opened #48 "Installation of the apt repository should be optional"
The current `datadog::dd-agent` recipe does not provide a method of disabling the apt repository installation.

We mirror all packages into a single repository of our own to:
- Prevent our deployments depending on any 3rd parties
- Ensure we are in control of the timing of all upgrades
- Allow the testing of all upgrades on a staging environment

[2013-03-26 18:36] #48 closed, assigned to nobody

[2013-03-26 21:13] bhouse opened #51 "chef_handler dependency breaks berks upload"
chef_handler v1.0.8 doesn't have the name parameter set in metadata.rb, it was added in v1.1.0, can we update the dependency restriction?

https://gist.github.com/bhouse/5249306

[2013-04-04 05:15] #51 closed, assigned to alq666

[2013-04-16 17:24] miketheman opened #56 "Datadog agent template renders a lot of whitespace"
It's not really needed just bloats the file, and we can remove a lot if it by ending conditionals with `-%>`.

[2013-04-22 23:05] #56 closed, assigned to nobody

[2013-04-23 00:34] #23 closed, assigned to alq666

[2013-04-23 20:10] #21 closed, assigned to alq666

[2013-06-24 21:33] babbottscott opened #59 "redisdb, default port should be 6379"
The default port for redis is 6379.  Your redisdb.yaml.erb has 6739.

[2013-07-01 20:13] JoeDeVries opened #62 "Allow configuration of collect_connection_state, and excluded_interfaces in network.yaml"
I do not see a way to configure collect_connection_state, or excluded_interfaces.

[2013-08-19 17:10] #47 closed, assigned to miketheman

[2013-08-20 17:01] #59 closed, assigned to miketheman

[2013-08-20 17:14] #62 closed, assigned to miketheman

[2013-08-20 17:36] #22 closed, assigned to miketheman

[2013-08-22 13:50] elijahandrews opened #67 "Memcached recipe does not add all dependencies"
The Datadog Memcached integration requires the `python-memcache` module, which is not currently added by the recipe.

[2013-09-17 20:50] #67 closed, assigned to nobody

[2013-09-18 21:22] alq666 opened #70 "Implement datadog::nagios recipe"
Even though it's not using checks.d, it's worth making it easy to implement.

[2013-11-21 02:01] ryan0x44 opened #75 "Cannot change agent hostname"
Hi there,

Great work on Datadog, the dd-agent and this cookbook - we're huge fans!

Currently the /etc/dd-agent/datadog.conf template file "hostname" value is set to the value of "node.name".
See: https://github.com/evolution7/chef-datadog/blob/master/templates/default/datadog.conf.erb

We would like the ability to change the hostname.

It would be great if we could make this an attribute that ca

[2013-11-26 22:53] MisterRayCo opened #78 "Auto-generated chef tags include the Roles and Tags as well as the run list"
It's at least as important to be able to filter alerts and graphs by role or chef tags as the run list

[2013-11-29 04:13] jtimberman opened #79 "Malformed version number string 2.7.5+"
# Environment
- Debian jessie (testing)
- Chef 11.8.0
- Ohai 6.20.0
- Python 2.7.5+

(what's the +? Read on...)
# Problem

When loading the default attributes file, Chef raises with this lovely exception:

[code]

For some reason, a `+` was appended to the default version of Python in Debian "jessie" (testing).

[code]

On Debian 7.2 (wheezy), this is not the case, so the error doesn't manifest it

[2013-12-29 04:06] rudijs opened #87 "Chef Solo Role Tags Warning"
Hi,

When using chef solo I get this warning after a successful chef run on and Amazon EC2 instance:

[code]

So it's not an error per say, but is there any way I can make this from not appearing?

From the nodes/ .json file the run list reads:

[code]

[2014-01-28 13:45] jedi4ever opened #92 "installing the agent but disabling it"
For some hosts I'd like to be able to switch the agent on and off on a temporary basis.
But I'd still like to have the agent installed already.

[2014-01-29 03:35] #87 closed, assigned to nobody

[2014-01-30 21:54] evan2645 opened #96 "Support for encrypted data bags"
The readme indicates that data bags were purposefully left out under the assumption that it's unlikely someone would have more than one api key. What has been overlooked is that many people prefer to store credentials of any kind (including api keys) in an encrypted data bag to avoid keeping sensitive information in node attributes.

I'm more than willing to open a PR with the necessary modificati

[2014-01-31 19:56] remh opened #97 "Support relations in postgres check"
See new config here:
https://github.com/DataDog/dd-agent/blob/master/conf.d/postgres.yaml.example

[2014-01-31 23:12] miketheman opened #98 "network: passing multiple instances to network monitor increases counts"
Currently, the method for passing a `network` config matches all others, however this adds to the instances array.
This should not map to the same, rather only a single entry can work for monitoring the network state of an instance.

a role:

[code]

Along with the default attributes file `network.rb` will result in the following yaml:

[code]

[2014-02-27 15:03] thisismana opened #104 "Please add "sock" to mysql template"
Hey,

an important parameter is missing in the mysql Template templates/default/mysql.yaml.erb

It's called sock and needed to allow the datadog agent to connect to mysql through a local socket file.

[2014-02-27 15:08] #104 closed, assigned to nobody

[2014-03-13 19:03] clofresh opened #107 "Add recipe for source install"

[2014-03-17 22:53] ghost opened #108 "gpg key expired for apt repository"
I been getting emails that the gpg key for your apt repository has expired.

W: GPG error: http://apt.datadoghq.com unstable Release: The following signatures were invalid: KEYEXPIRED 1394856986 KEYEXPIRED 1394856986 KEYEXPIRED 1394856986

[2014-03-17 23:10] #108 closed, assigned to nobody

[2014-03-19 16:49] #70 closed, assigned to nobody

[2014-03-19 16:56] #75 closed, assigned to miketheman

[2014-03-19 19:40] #79 closed, assigned to miketheman

[2014-03-20 19:50] #92 closed, assigned to miketheman

[2014-03-21 16:21] #97 closed, assigned to miketheman

[2014-03-21 16:44] #98 closed, assigned to miketheman

[2014-03-25 19:27] conorbranagan opened #110 "Add HTTP and TCP Check recipes"
See https://github.com/DataDog/dd-agent/blob/master/conf.d/http_check.yaml.example
and https://github.com/DataDog/dd-agent/blob/master/conf.d/tcp_check.yaml.example

[2014-03-26 22:03] clofresh opened #111 "add kafka jmx and consumer check"
https://github.com/DataDog/dd-agent/blob/master/conf.d/kafka.yaml.example
https://github.com/DataDog/dd-agent/blob/master/conf.d/kafka_consumer.yaml.example

[2014-03-28 16:30] Sinjo opened #112 "Process metrics can't be configured"
While there is a template for the [Process stats monitoring](https://github.com/DataDog/chef-datadog/blob/66c200b4cba8ae43bc620da11f3bdc6ed899539b/templates/default/process.yaml.erb) it doesn't have any parameterisation to let you specify what you want to monitor. It looks like it was added with no recipe/attributes to customise it.

[2014-04-07 15:07] karnauskas opened #114 "No way to install python-redis from package on rhel platform."

[2014-04-08 22:49] #111 closed, assigned to nobody

[2014-04-17 21:10] sethrosenblum opened #115 "Incorrect documentation for using instance id as agent hostname"
Write now the documentation for use_ec2_instance_id in attributes says this:

[code]

This isn't correct since use_ec2_instance_id doesn't affect the agent hostname at all.

[2014-04-24 15:01] celenechang opened #116 "jmx yaml recipe doesn't list attributes correctly"
These lines:

https://github.com/DataDog/chef-datadog/blob/master/templates/default/jmx.yaml.erb#L19-L24

result in attributes attribute0, attribute1, etc. instead of the attribute name

[2014-04-28 18:39] miketheman opened #118 "Support 'why-run' mode"

[2014-05-29 18:59] miketheman opened #127 "add `action` variable to package installation"
Default should be `:install`, but can be toggled to `:upgrade` if the desire is to be up-to-date with the latest released Agent.

[2014-06-24 19:48] alq666 opened #130 "Examples of compatible defaults for default['datadog']['tags']"
Ran into this issue recently: tags was set to "#{node.chef_environment}" while our handler is setting by default the "env" tag to be "env:#{node.chef_environment}". To be consistent and allow group-by's, I suggest that we at least document a good tag in the form of "env:...", but even set it by default to that value (if the version of chef supports it).

[2014-08-27 15:00] danielmcgrath opened #139 "Add support for docker monitoring"
Per: https://www.datadoghq.com/2014/06/monitor-docker-datadog/

Sample configuration: https://github.com/DataDog/dd-agent/blob/master/conf.d/docker.yaml.example

[2014-08-29 20:31] celenechang opened #140 "recipe examples show 'host' parameter when it should be 'server'"
for instance: https://github.com/DataDog/chef-datadog/blob/master/recipes/postgres.rb#L10

[2014-09-19 20:26] jchauncey opened #141 "default kafka.yaml doesnt seem to work"
Here's the yaml file created by the cookbook. It seems to be emitting system metrics but not jmx metrics.. Any suggestions"

[code]

[2014-10-07 14:13] rlaveycal opened #142 "Request: Support Windows agent installation"
Hi,

Do you plan to support installation of the Windows agent?

[2014-10-07 14:17] rlaveycal opened #143 "Request: Add message / tags to dd-handler"
It would be useful to be able to include bespoke text and/or set additional tags to events created by the dd handler.
My specific use-case is that we have a release cookbook that defines the version of components installed. I want to include the version of that cookbook that is in the run list.

[2014-10-08 02:50] parabuzzle opened #144 "Support a skip dd-agent function for testing and dev environments"
So, I assume this is a pretty common case that people just "work around" but I think its worth raising as an issue/feature request.

We are using test kitchen to test our various server roles and cookbooks. We use roles to control everything about the machine types (common practice) and we want test kitchen to use the same exact role we use for staging and production because we want to test any ro

[2014-10-08 15:39] #144 closed, assigned to nobody

[2014-10-10 22:54] MrMMorris opened #145 "Feature: Event LWRP"
Just throwing an idea out there, but something like this for datadog events would be AMAZING!

https://github.com/cwjohnston/chef-hipchat

[2014-10-12 00:47] msaffitz opened #146 "MongoDB config provides limit username/password support"
The template for the MongoDB agent only supports host and port, and doesn't permit setting username, password, or database.  As a workaround, you can mash them into the host and port settings, but that's not super ideal.

It'd be great/simple if if just took the connection string.  Otherwise explicitly support user, pass, db.

templates/default/mongo.yaml.erb

[2014-10-20 11:59] uduncanu opened #147 "dd-agent package does not upgrade when previously installed"
We've got a load of servers where the dd-agent package (4.3.1-522) was previously installed via Chef (v10) with this cookbook.  We are attempting to upgrade it to the latest version, using the dd-agent recipe.  It isn't upgrading to the latest version on its own.

The only part of the recipe I can see that would actually perform an upgrade is the package command  included below, which requires `dd

[2014-11-06 12:12] miketheman opened #154 "Synchronize with current dd-agent configuration examples"
There are occasions where we have fallen out of step, like here DataDog/dd-agent#1132

Sync list:

- [x] activemq
- [x] apache
- [x] cacti
- [x] cassandra
- [x] couchdb
- [x] elasticsearch
- [x] fluentd
- [x] haproxy
- [x] http_check
- [x] jmx
- [x] kafka
- [x] process
- [x] tcp_check

[2014-11-11 02:10] #114 closed, assigned to nobody

[2014-11-11 02:18] #32 closed, assigned to alq666

[2014-12-02 23:11] flah00 opened #157 "datadog_monitor LWRP incorrectly names yaml file"
I have to call my template `templates/default/tcp.yaml.erb`, or I receive an error. After the resource runs, I have a file named `/etc/dd-agent/conf.d/tcp.yaml`. Will the agent read tcp.yaml, and use the tcp_check?

[code]

[code]

[2014-12-03 19:06] #157 closed, assigned to nobody

[2014-12-04 07:23] mirceal opened #158 "cannot set ec2_collect_tags via chef aws opsworks install"
I have 2 opsworks stack and in order for me to differentiate between them I need to be able to collect the ec2 tags associated with the machine.
if I manually set
collect_ec2_tags: no
in /etc/dd-agent/datadog.conf I can see the tags being collected.

When I run the chef recipe via opsworks though, I don't see this parameter being configured in datadog.conf
Looking at the template erg seems that th

[2014-12-18 16:29] rlaveycal opened #161 "Support integration config deployment on Windows"
This is related to #142.

As well as being able to install the agent itself we need to be able to set integration config values via templating.

The current recipes / LWRPs are not Windows compatible.

[2014-12-19 14:50] rlaveycal opened #165 "dd-handler can't send events on Windows due to missing SSL_CERT_FILE env var"
The openSSL gem used by the dd-handler requires that the SSL_CERT_FILE environment variable is set so that it can find the certificate store to validate the server's cert. On Windows this is not set by default so the handler fails.

In Chef 11.16, SSL_CERT_FILE is set for Chef components (see https://github.com/opscode/omnibus-chef/pull/236) but the dd-handler doesn't see/use it.

[2014-12-30 14:16] #116 closed, assigned to nobody

[2014-12-31 12:25] #96 closed, assigned to nobody

[2015-01-02 20:50] chrissnell opened #170 "Shouldn't node['datadog']['tags'] be an array or hash?"
In the datadog.conf.erb template, I see that node['datadog']['tags'] is a string.  How do y'all feel about changing this attribute to an array or hash so that tags could be added by other cookbooks dynamically without overwriting tags set elsewhere.   The template could just do a .each to build the tag line in the configuration file.

Presumably the template could check the type of the attribute a

[2015-01-03 16:21] miketheman commented on #170
Hey @chrissnell,

You bring up a good point.

I guess we didn't look at the use case too hard back when it was submitted.
One _could_ go about appending to a String, but that might not be great with commas and such.

I'm curious to see what you would have in mind.

[2015-01-15 09:52] askmeaks opened #175 "yum_package "datadog-agent" fails with a non-zero exit status"
When I run the cookbook on Amazon Linux, it fails at installing the datadog-agent package and reports that it got a non-zero exit status. The log excerpt from chef-run is:
[code]
But when I try to install the package manually it exits with a non-zero status (but it does complain about a few issues in post-script section of the RPM package), excerpt below:
[code]

[2015-01-20 16:37] miketheman commented on #175
Hi @askmeaks,

Can you provide the stacktrace referenced in the error message? I can't see from this message what exactly the failure is. `/var/chef/cache/chef-stacktrace.out`

[2015-01-21 06:22] askmeaks commented on #175
Hi @miketheman,
The contents of the stacktrace is below:
[code]

[2015-01-21 13:30] miketheman commented on #175
Hi @askmeaks,
Thanks for the stack - I guess I was hoping for the actual `yum` execution and error message. Could you try running Chef in debug logging mode - `-ldebug` - and see if you can capture the yum command and error message?

[2015-01-22 07:57] askmeaks commented on #175
Hi @miketheman,
From the logs in the debug mode, it seems like that PREIN scriptlet is failing for the Datadog's rpm package.
The stacktrace is available at http://fpaste.org/172886/42191319/ and the excerpt from the chef-solo run in debug mode is available at http://fpaste.org/172887/19132761/

[2015-01-22 14:36] miketheman commented on #175
Hi @askmeaks,
This is awesome, thanks! It definitely points to some sort of issue with the dd-agent installation, which is not particular to Chef.
Here's the code this script is invoking: https://github.com/DataDog/dd-agent-omnibus/blob/master/package-scripts/datadog-agent/preinst#L33-L54
Something in that block is likely failing, causing the Chef run to fail.

For reference, it appears that this

[2015-01-22 15:10] askmeaks commented on #175
Hi @miketheman:
The version of Amazon Linux is "2014.9" and the base image does not have datadog-agent installed.

[2015-01-22 15:21] askmeaks commented on #175
@miketheman and @remh,

I finally found the culprit and fixed the issue. The PREIN script looks for **/etc/issue** file to determine the distribution, see excerpt below:
[code]
Where in on my machine, the file was overwritten with a custom content and hence the installation was failing with error message saying that the system is not supported:
[code]
When I added a line with text "Amazon" at the

[2015-01-22 15:21] #175 closed

[2015-01-23 17:03] alq666 commented on #175
@remh `lsb_release -d` is a better way to determine the distribution.

[2015-01-23 21:12] miketheman commented on #175
@alq666 @remh not all distros include lsb tools in the base, that's why tools like ohai/gohai/etc use a few methods to try to determine the distro.
Agreed that lsb_release is likely to be a better first test, and if failed, try another method.

But in any case, that's an issue for the dd-agent-omnibus repo.

@askmeaks glad we could help!

[2015-01-26 21:17] solarce commented on #141
I ran into this as well. I created a PR with a fix, which I've tested in my dev environment as is working.

[code]

It'd be great to see this get in and a 2.0.1 released

[2015-01-26 21:29] donaldguy commented on #141
See also #163  ... I was still waiting for direction on what's wanted on the tests

[2015-01-26 21:36] solarce commented on #141
FWIW I don't care which PR gets merged, let's just get a fix shipped plz :)

[2015-01-27 04:44] #141 closed

[2015-01-27 05:07] miketheman commented on #107
@asiegman Since the opening of this issue, we have released version 5.x of the Datadog Agent, which bundles a self-contained supervisor which no longer conflicts with any other installed supervisor.
With that, you'd likely no longer need the source install method.

[2015-01-27 06:48] #127 closed

[2015-01-27 06:50] miketheman commented on #147
Fixed in b8518fd582bf5d6a414a08a4d981200ccbc215d3

[2015-01-27 06:50] #147 closed

[2015-01-27 14:15] miketheman commented on #158
PR has been merged, missed the link to this issue. Closing!

[2015-01-27 14:15] #158 closed

[2015-01-27 14:21] miketheman commented on #146
@msaffitz So what would a good alternate be? Allow setting an `instances` value of `connection_string` which would be an arbitrary string?
[code]

[2015-01-27 16:56] #115 closed

[2015-01-27 17:04] miketheman commented on #154
Sync list:

- [x] activemq
- [ ] apache
- [ ] cacti
- [ ] cassandra
- [ ] couchdb
- [ ] elasticsearch
- [x] haproxy
- [ ] hdfs
- [ ] iis
- [ ] jenkins
- [x] jmx
- [x] kafka
- [ ] kafka_consumer
- [ ] kyototycoon
- [ ] lighttpd
- [ ] memcache
- [ ] mongo
- [ ] mysql
- [ ] network
- [ ] nginx
- [ ] postgres
- [ ] rabbitmq
- [ ] redisdb
- [ ] riak
- [ ] tomcat
- [ ] varnish
- [ ] zookeeper

WIP in ot

[2015-01-27 17:27] miketheman commented on #143
Hi @rlaveycal,
Can you maybe explain a little further on how you'd like to do this?

Since the dd-handler already ensures that the dogapi gem is included, you could like use that to emit an Event to the Event Stream, instead of changing the current Chef Handler event.

[2015-01-28 05:36] msaffitz commented on #146
Yeah, I think either as you've suggested, or have each element of the connection string be an option:

[code]

[2015-02-04 12:05] rlaveycal commented on #143
The thought was that it could be useful to include context information from the Chef run into the event. At present you get a list of all the resources that have been converged tags with the host and environment. That can be quite verbose. As I said above we have a specific cookbook version for each release we deploy. Being able to include that in the message and/or a tag would be useful in tying

[2015-02-19 13:46] rmoriz opened #184 "Config file rendering shows plain-text password in diff"
Currently, each monitor template will throw a diff when converged which includes, e.g. the password in plain text (chef's default).

eg

[code]

Please consider using `sensitive true` as resource option. See https://docs.chef.io/resource_common.html

[2015-02-19 14:03] miketheman commented on #184
@rmoriz That's a really good idea! I looked a bit, and that was [introduced in Chef 11.10.0](https://github.com/chef/chef/pull/1220).
Since we still support Chef 10.x, and don't want to break backwards functionality, we _could_ wrap the parameter in a case where we only set it for versions higher than when the parameter was introduced.

Something like:
[code]

How does that sound?

[2015-02-19 21:56] rmoriz commented on #184
How about:

[code]

It's the way the Chef people recommend it, e.g. in this case:  https://www.chef.io/blog/2015/02/17/chef-12-1-0-chef_gem-resource-warnings/

[2015-02-19 21:59] miketheman commented on #184
That sounds even better!

[2015-03-24 15:49] wickett opened #189 "Chef 12 throws warnings for compile_time resources"
With Chef 12 these warnings now show up for the chef-datadog cookbook.

[code]

As noted by @jtimberman these can be fixed by adding this line to the resource for maximum backward compatibility.

[code]

See http://jtimberman.housepub.org/blog/2015/03/20/chef-gem-compile-time-compatibility/

[2015-03-31 13:48] wickett commented on #189
Any update on this?

[2015-03-31 13:59] alq666 commented on #189
@wickett thanks for filing the issue.

@miketheman any thoughts on this?

[2015-03-31 14:17] miketheman commented on #189
Thanks for reporting this. There's been an ongoing thread on the Chef mailing lists on the behavior of `compile_time` and Chef 12.
Yesterday, a post-mortem was produced: https://gist.github.com/thommay/42b033d2c877e74e6b1a

Chef have also publicly apologized for introducing the WARN spam here: https://www.chef.io/blog/2015/02/17/chef-12-1-0-chef_gem-resource-warnings/

Before changing the behavior

[2015-04-02 08:34] #112 closed

[2015-04-05 13:24] danieljimenez opened #193 "Support OS X"
Please add support for OS X to the cookbook. Very useful for build agents.

[2015-04-05 15:17] miketheman commented on #193
Thanks @danieljimenez !

We've been working on Omnibus-packaged DMG of the Datadog Agent - I think once that's complete we can consider adding an installation method here.

Is there a particular method you are looking to install/configure/reconfigure OSX build agents?

/cc: @remh

[2015-04-06 21:45] xbeta commented on #110
why can't we merge this??
+1 for needing this to work

[2015-04-07 10:33] miketheman commented on #110
@xbeta this is the next check to be worked on.

[2015-04-07 20:25] #110 closed

[2015-04-07 20:26] miketheman commented on #110
Code is now merged to master!

[2015-04-07 20:30] #130 closed

[2015-04-07 20:49] #140 closed

[2015-04-07 20:59] miketheman opened #194 "Synchronize with current dd-agent configuration examples (Numero Dos)"
Following #154, continue with sync for another milestone.
- [ ] hdfs
- [ ] iis
- [ ] jenkins
- [ ] kafka_consumer
- [ ] kyototycoon
- [ ] lighttpd
- [ ] memcache
- [ ] mongo
- [ ] mysql
- [ ] network
- [ ] nginx
- [x] postgres (also see #140)
- [ ] rabbitmq
- [ ] redisdb
- [ ] riak
- [ ] tomcat
- [x] varnish
- [ ] zookeeper

[2015-04-07 21:00] miketheman commented on #154
Closing with the current list to further a release. Split uncompleted ones to a new issue.

[2015-04-07 21:00] #154 closed

[2015-04-07 21:04] miketheman commented on #107
Closing out this issue, as there's packagers for systems that no longer interfere with other supervisors.

[2015-04-07 21:04] #107 closed

[2015-04-08 08:22] miketheman commented on #139
@DorianZaccaria Please create a new recipe, template, serverspec test according to current patterns and send a PR.

[2015-04-08 08:24] miketheman commented on #184
Going to slot this change for Next Major, as the behavior would likely apply unilaterally to all templates generated by the `datadog_monitor` resource, and this might change expected behaviors.

[2015-04-08 08:58] miketheman commented on #139
Should also resolve and future-proof #150, using the new json->yaml style so as not to specify each key:value when the agent changes.

[2015-04-08 21:38] xbeta commented on #110
@miketheman
Awesome! when can I expect a release?  We prefer not pin our datadog cookbook version to master HEAD

[2015-04-10 20:16] xbeta commented on #158
@miketheman when can we expect newer release with this change?  We are at v2.0.0 now

[2015-04-12 06:18] miketheman commented on #158
Targeting April 20th.

On Fri, Apr 10, 2015, 23:16 Sam Xiao <notifications@github.com> wrote:

[2015-04-12 06:35] miketheman commented on #110
Targeting April 20th for release.

On Thu, Apr 9, 2015, 00:38 Sam Xiao <notifications@github.com> wrote:

[2015-04-13 19:02] DorianZaccaria commented on #139
Here a Pull Request: https://github.com/DataDog/chef-datadog/pull/197

[2015-04-17 10:15] #189 closed

[2015-04-17 10:26] miketheman commented on #139
Merged #197, closing.

[2015-04-17 10:26] #139 closed

[2015-04-21 13:00] brentryan opened #202 "The jmx configuration from the latest template does not match dd-agent 5.3.0+"
We noticed recently that this most recent version creates a jmx.yaml file with an attribute called "server" instead of "host" which is expected by the jmx integration.

Can this be fixed?

[2015-04-21 13:02] miketheman commented on #202
@brentryan The JMX template renders any attributes passed in. See here: https://github.com/DataDog/chef-datadog/blob/master/templates/default/jmx.yaml.erb

So somewhere in your attributes settings, you are passing `server` instead of `host`. See https://github.com/DataDog/chef-datadog/blob/master/recipes/jmx.rb#L8 for an example.

[2015-04-21 13:51] brentryan commented on #202
So the old template used to do this:

    host: <%= i["server"] %>

And we passed in an attribute called "server" to match this.

In the new template it just uses what we pass in so this cookbook changes breaks backward compatibility.

I actually think the change is probably a good change, but maybe this should have been a major revision number change of the cookbook to indicate that it's a breaki

[2015-04-21 13:54] miketheman commented on #202
@brentryan I agree that this was a potentially breaking change.

However, since we never actually documented the correct behavior, rather had bulk-shipped a bunch of templates without setting them up properly, we felt that this wasn't enough to bump the revision.

A bit from the changelog:

[2015-04-21 13:57] #202 closed

[2015-04-29 09:19] flutist599 commented on #141
adding the 2 spaces solved it!! spent 2 hours troubleshooting, now I found your help many thanks!!!

[2015-04-30 22:38] err0 commented on #142
here is what I ended up doing:

[code]

Perhaps something like this could be easily incorporated in to the community cookbook?

[2015-04-30 22:55] err0 commented on #165
https://github.com/chef/chef-dk/issues/106 had this issue too.

[2015-05-01 00:31] EasyAsABC123 commented on #142
@err0 yeah I think that isn't a bad plan, should probably delete the file and allow for a download location since `C:\` is normally protected.

I like it though, one more thing the `https://s3.amazonaws.com/ddagent-windows-stable/ddagent-cli.msi` doesn't allow for you to choose a version and stay on it, instead you are always going to be grabbing the latest and even though it says stable are you w

[2015-05-01 03:27] LeoCavaille commented on #142
@err0 @EasyAsABC123 it's not published on the website (maybe we should actually), but one can download _thus pin_ a specific version of the agent by using:
```https://s3.amazonaws.com/ddagent-windows-stable/ddagent-cli-<version>.msi```

Latest version is 5.3.1.

[2015-05-01 19:00] err0 commented on #142
@LeoCavaille good to know!
So if node['datadog']['agent_version'] is not null then plug it in the MSI filename with a leading -.

[2015-05-11 13:52] rlaveycal commented on #142
We also need to consider upgrading the agent. The windows_package resource doesn't support this so something like this is required (based on #164). I support setting the download url to nil to disable auto-install.

[code]

[2015-06-17 19:47] bigbam505 commented on #142
The windows client actually does support upgrading based on if you pass in a version.  Here is what I have setup for installing datadog on windows:
[code]
[code]

Granted the `windows_service` part was added into chef 12 and there are weird inconsistencies with `windows_package` and the version that you pass in.

[2015-06-17 20:19] timmc opened #211 "zookeeper check timeout attribute either needs a default or to be optional"
In the [config example](https://github.com/DataDog/dd-agent/blob/367819883e3bea937fd178a14a0710ececc3ce7e/conf.d/zk.yaml.example) for the agent's zk check, we see instances.timeout as an optional key:

[code]

However, [the Chef template](https://github.com/DataDog/chef-datadog/blob/448e3a97014292eb7d6129a9b1d4240a21ffe0fc/templates/default/zk.yaml.erb) expects the attribute to be set. The result

[2015-06-17 20:44] timmc commented on #211
(For that matter, it would also be good to document the units, if thery're not part of the attribute name itself! Seconds, I assume?)

[2015-06-18 09:51] rlaveycal commented on #142
Neat.

Also, be aware that the agent seems to be installed in per-user mode so you can't install as user X and then upgrade as user Y :(

I've raised DataDog/dd-agent#1689 to see if this can be tackled. Not a problem once you're using Chef to deploy and running as the same user, but is going to cause me grief as the agent is currently installed by a different user that I use for Chef so I'll have

[2015-06-18 14:21] rlaveycal commented on #142
Referring back to my previous code, my recipe now does
[code]

Note that the version passed into windows_package needs to have 4 parts, but the version passed to the url only has 3. Without the trailing .0 the package will be installed on every run as the version strings won't match

[2015-06-23 20:54] bigbam505 commented on #165
I added documentation on the dd-hadler site you can fix this with the following:

https://github.com/DataDog/chef-handler-datadog#windows-support

[2015-06-30 14:47] awasilyev commented on #170
Any updates?

[2015-06-30 14:52] awasilyev opened #213 "Berkshelf installs old version of chef-datadog"
While contributing cookbooks with berks, datadog-0.1.2 installed by default instead of latest version

[2015-07-02 14:06] rmoriz commented on #213
have the same issue…

[2015-07-02 14:11] miketheman commented on #213
I don't think I understand - can you provide a more complete example, and some debugging? A gist with the output of your Berksfile, Berksfile.lock and `berks install -d` ?

[2015-07-02 14:35] rmoriz commented on #213
when no explicit version is given, Berkshelf installes 0.1.2 instead of the latest version available. This might have been fixed with https://github.com/berkshelf/berkshelf/blob/master/CHANGELOG.md#324

[2015-07-02 18:35] awasilyev commented on #213
Oh, thank you

On Thu, Jul 2, 2015 at 5:35 PM, Roland Moriz <notifications@github.com>
wrote:

[2015-07-02 19:28] miketheman commented on #213
Closing, as this is a berks issue, not this cookbook's.

[2015-07-02 19:28] #213 closed

[2015-07-04 12:47] miketheman commented on #211
This is indeed a template bug. See https://github.com/DataDog/dd-agent/blob/ab469ec2eed4c89daf17ad0d429a94c421185619/checks.d/zk.py#L49 for built-in defaults, making this attribute optional. The template should be updated to account for that.

[2015-07-04 12:51] miketheman commented on #78
Closing due to lack of clarity of where this should go forward. Nodes can have tens of recipes applied to them, and it is undesirable to have that many tags applied to a node (and every subsequent metric that ever is associated with that node).

[2015-07-04 12:51] #78 closed

[2015-07-04 13:01] miketheman commented on #170
https://github.com/DataDog/chef-datadog/pull/186 Has been submitted, there's some progress there - but it's not ready for merge/release yet.

[2015-07-04 13:09] miketheman commented on #145
I'm still unclear as to how this would be useful, vs using the Rubygem directly in Chef code.

Here's an example of sending an event directly from a recipe:
[code]

You retain all the flexibility of the Event API, without making a resource/provider.

Is there any use case I'm not thinking about? Would a resource that provides the syntax into a "you can only submit events that look like this" be be

[2015-07-04 13:10] miketheman commented on #143
I think this is likely related to https://github.com/DataDog/chef-datadog/issues/145

[2015-07-04 17:52] MrMMorris commented on #145
Hi @miketheman,

Your solution would work. Thanks!

[2015-07-04 17:52] #145 closed

[2015-07-22 21:24] PurrBiscuit commented on #184
+1 for this...we use jenkins for our chef runs and it logs the output.  any way to get that output suppressed from those templates would be great.

[2015-08-19 16:11] miketheman commented on #143
Closing in favor of using the Client API directly. See example here: https://github.com/DataDog/chef-datadog/issues/145#issuecomment-118511513

[2015-08-19 16:11] #143 closed

[2015-09-03 22:10] olivielpeau opened #226 "Allow passing a custom hostname to chef-handler-datadog"
Was discussed here https://github.com/DataDog/chef-handler-datadog/issues/41#issuecomment-41585416

It would be useful to find a sensible way to pass a custom hostname to the handler while preserving the priority of the ec2 flag. Opening this issue because a customer is not on ec2 and may need this feature.

[2015-09-03 22:16] miketheman commented on #226
This would likely live in https://github.com/DataDog/chef-datadog/blob/master/recipes/dd-handler.rb#L34-L38

[2015-09-11 19:43] olivielpeau commented on #118
Tested on Chef 12.2.1, the why-run execution seems to work fine (no changes to the state and no event/metrics emitted).

The only case I've found that doesn't work is the `dd-handler` recipe when the `chef-handler-datadog` gem is not installed. The run fails when `'chef/handler/datadog'` is required [here](https://github.com/DataDog/chef-datadog/blob/7e81689ab6c972337409a4707ff46ab44bbe785e/recipe

[2015-09-11 21:21] miketheman commented on #118
@olivielpeau Thanks for the investigation. Regarding the final case, this was [reported a while back](https://tickets.opscode.com/browse/CHEF-4391), and claimed to have been resolved. Might be worthwhile looking into it a bit further?

[2015-09-11 23:15] olivielpeau commented on #118
@miketheman I think the issue you're mentioning is that the `chef_gem` resource itself breaks why-run mode, whereas here it's the subsequent `require` on `chef/handler/datadog` that's making the run fail when the file doesn't exist.

I'll look more into this issue (in particular I'll look at how chef_handler loads the handler's class and if that can help us solve this).

[2015-09-12 11:28] miketheman commented on #118
@olivielpeau You're right - I linked the wrong issue.

Thinking about this further, there might be a better way to wrap the require that behaves differently based on whether or not we're in why-run mode, by inspecting the value of `Chef::Config[:why_run]`.

Something maybe like:
[code]

at the top of the recipe.

[2015-09-14 19:34] olivielpeau commented on #118
@miketheman I like the idea of skipping `dd-handler` in why-run mode as I can't see any clean workaround to execute it in this mode.

FYI the `1.2.0` release of chef_handler allows using the handler without having to `require` it beforehand because it requires the handler's file on its own (see https://github.com/chef-cookbooks/chef_handler/blob/v1.2.0/providers/default.rb#L41), which would solve

[2015-09-15 03:26] joshsmoore opened #230 "using the mysql monitor from another recipe breaks"
Hi I am trying to us the mysql monitor from another recipe.  I am calling it like this:

[code]

However, when I run this I get this error in chef:

[code]

I have fixed this by changing the `providers/monigor.rb` to include `cookbook 'data dog'` but I am wondering is there a better way to do this?

[2015-09-16 07:01] rlaveycal commented on #142
It seems that DD have removed all historic versions of the agent from S3

[2015-09-16 12:30] miketheman commented on #230
Hi @joshsmoore,

This is due to the source cookbook not being a parameter that can be passed. The way this was designed was to not use the resource directly, rather to include the recipe in your run list to get the desired behavior.
See http://docs.datadoghq.com/guides/chef/#customizations for more examples.

We may be adding this in the next cookbook release, see #212.

[2015-09-25 01:58] zshenker opened #234 "Add etcd support to the cookbook"
Add a recipe/template for the etcd integration.

Docs at http://docs.datadoghq.com/integrations/etcd/

[2015-09-26 00:57] zshenker commented on #234
See PR #235

[2015-10-15 05:48] #211 closed

[2015-10-15 06:01] miketheman commented on #118
Closed via #231

[2015-10-15 06:01] #118 closed

[2015-10-15 06:02] miketheman commented on #230
Closed via #212.

[2015-10-15 06:02] #230 closed

[2015-10-15 06:31] miketheman commented on #234
Closed via #235

[2015-10-15 06:31] #234 closed

[2015-10-19 23:47] poblahblahblah commented on #184
:+1:

[2015-10-22 21:10] #142 closed

[2015-10-22 21:47] miketheman commented on #161
Closed via #210.

[2015-10-22 21:47] #161 closed

[2015-10-22 21:49] miketheman commented on #165
Closing, in favor of documentation update.

[2015-10-22 21:49] #165 closed

[2015-10-23 22:57] amonje opened #246 "Feature request to create solr recipe"
Currently looks like we can only use solr yaml within a wrapper. Should be come a recipe within the cookbok.

[2015-10-24 00:32] miketheman commented on #246
Good point, I hope to have this ready for Monday.

On Fri, Oct 23, 2015, 18:57 amonje <notifications@github.com> wrote:

[2015-10-26 15:56] #246 closed

[2015-11-09 15:31] tylergohl opened #254 "Undefined method join for nil:NilClass - (tags.join)"
I'm getting the following on a Server 2008 R2 node while it's attempting to install the dd agent.  My guess is the `TAGS="#{node['tags'].join(',')` line is failing because my server likely has no tags.

[code]

[2015-11-09 15:33] tylergohl commented on #254
Confirmed. I added 2 chef tags to my server and the agent installed without issue.

[2015-11-09 20:20] tylergohl opened #255 "Windows chef client failures when download link is unavailable"
This probably doesn't happen very often, but I noticed today that my chef-client runs were failing due to the dd-agent-cli.msi link being unavailable. (`https://s3.amazonaws.com/ddagent-windows-stable/ddagent-cli.msi`)  Since my server already had the DD agent installed, it seems like the cookbook shouldn't even be checking the link, right?

The link is available again and my chef-client runs are

[2015-11-12 19:22] rcsavage opened #256 "Windows Chef Client Fails to restart dd-agent service on boot up."
[2015-11-12T05:39:47-08:00] INFO: Processing windows_service[datadog-agent] action restart (datadog::dd-agent line 69)
[2015-11-12T05:40:48-08:00] ERROR: Running exception handlers
[2015-11-12T05:40:50-08:00] ERROR: Exception handlers complete
[2015-11-12T05:40:50-08:00] FATAL: Stacktrace dumped to C:/chef/cache/chef-stacktrace.out
[2015-11-12T05:40:50-08:00] FATAL: Timeout::Error: windows_service

[2015-11-12 19:24] rcsavage commented on #256
Another note: after this chef-client failure, if I go into 'Task Manager' and kill the four ddagent.exe processes, I can then run chef-client and it succeeds.  It is almost as if the windows_service[datadog-agent] action restart process is failing to restart the service properly.

[2015-12-02 21:39] MiguelMoll commented on #193
Thought I'd bump this for a quick status update. We'd like to use this cookbook to deploy the agent on our OSX nodes.

[2015-12-02 23:51] olivielpeau commented on #254
Thanks for reporting this issue @tylergohl!

On top of this bug, all the options that are currently passed to the MSI are actually useless because they are written to the `datadog.conf` file and this file gets overwritten later in the `dd-agent` recipe: https://github.com/DataDog/chef-datadog/blob/6ced7e69a468b14238c67d5b9258d30217a4be0d/recipes/dd-agent.rb#L52

#252 will fix this issue.

[2015-12-04 06:40] perryism commented on #193
bump

[2015-12-07 06:26] cobusbernard opened #260 "Windows IIS config not setting Sites"
When you use the IIS recipe, the sites list is not set. This can been seen here: https://github.com/DataDog/chef-datadog/blob/master/templates/default/iis.yaml.erb

Steps to reproduce:
 * Add attribute for Sites via: `default['datadog']['iis']['instances'] = [ { "sites" => ["Default Web Site" ] } ]`
 * After chef-client runs, the iis.yaml will not have a "sites" node.

[2016-01-17 02:47] DBLaw opened #269 "Chef recipe folder name must match the metadata name"
As reported by a customer:

[2016-01-21 23:31] miketheman commented on #269
I don't think I fully understand the user's scenario.

Typically, users should be pulling the cookbook from the [Supermarket](https://supermarket.chef.io/cookbooks/datadog), not directly from GitHub.
This is where released versions live.
Alternately, the cookbook can be downloaded from the [Releases page](https://github.com/DataDog/chef-datadog/releases).

When using a cookbook manager like Berksh

[2016-01-25 22:57] #269 closed

[2016-01-29 14:59] hydrant25 opened #270 "Update chef_handler dependency to remove pessimistic version constraint?"
I'm wondering if it's possible to remove the version constraint on `chef_handler` `~> 1.1.0` from this cookbook so that it pulls in the latest, v1.2.0?

In my chef-repo, I believe this constraint, when combined with other community cookbook constraints, is causing berkshelf to resolve to using `datadog` cookbook version v0.1.2 along with `chef_handler` v1.2.0. I believe v0.1.2 was the last release

[2016-01-29 16:21] darron commented on #270
Hey @miketheman - remember when that happened to us? I can't remember some of the backstory - but am sure you do.

[2016-01-29 16:58] miketheman commented on #270
@hydrant25 That's a great question.

Chef Handler 1.2.0 [broke backwards compat](https://github.com/chef-cookbooks/chef_handler/blob/master/CHANGELOG.md#v120-2015-06-25) [without a major bump](https://github.com/chef-cookbooks/chef_handler/issues/34) - this caused some hellfire to rain for a while when we tried to debug it internally.

I suspect that we'd be "ok" to remove the constraint from this

[2016-01-29 18:54] hydrant25 commented on #270
Thanks for the quick response, @miketheman! I did pull the constraint in my local fork and ran `kitchen test`. Looks like I ended up hitting `Timeout::Error` on starting `service[datadog-agent]` on Windows 2012r2-11186. I don't know/think that's related to the chef_handler version though.

At any rate, I did solve this in my `Berksfile` by explicitly asking for `cookbook 'datadog', version: '~> 2.

[2016-01-29 18:54] #270 closed

[2016-02-12 17:49] arukaen commented on #193
Any updates on this?

[2016-02-12 22:21] gzysk8 opened #275 "kafka.yaml.erb - replication stats have wrong domain"
Metrics `kafka.replication.leader_elections` and `kafka.replication.unclean_leader_elections` are listed under the `kafka.server` domain but should be `kafka.controller` per https://github.com/DataDog/dd-agent/blob/master/conf.d/kafka.yaml.example

Using the default config as is results in:

[code]

[2016-03-03 21:18] truthbk opened #279 "HTTP check creating tags with a space after the colon"
Reported by a customer:

"I noticed that when I updated the version of my cookbook, my tests failed, because the tag format changed from 'environment:production' to 'environment: production'."

This will in turn cause the check to fail due to how the YAML is parsed.

[2016-03-03 22:04] miketheman commented on #279
The HTTP Check renders whatever is put into the data hash.
See https://github.com/DataDog/chef-datadog/blob/master/recipes/http_check.rb and  https://github.com/DataDog/chef-datadog/blob/master/templates/default/http_check.yaml.erb

So it seems like if in your `tags` element of your hash, you have:
[code]
The resulting template will contain `'environment: production'` and lead to unhappy yaml, bec

[2016-03-10 08:31] rohit-conn opened #282 "Datadog_monitor LWRP error"
Hello,

We have custom recipe which uses the datadog custom resource datadog_monitor in our own cookbook datadog-agent

http://pastebin.com/cK0HMyUi

This used to work with the previous version which is 2.1 but is throwing an error that the template is missing., eventhough we have a template in the template/default directory of our cookbook datadog-agent
Can you please let me know what modificatio

[2016-03-21 20:12] iiro opened #287 "Agent with Postfix check gets "conversation failed" from sudoing"
Hi,

I'm using your Postfix check with Chef - and keep getting this into my logs:

[code]
##

I have these in my Policyfile:

[code]

and my run list has:
run_list(
  'apt::default',
  'sudo::default',
  'ntp::default',
  'papertrail::default',
  'postfix::default',
  'omnibus-gitlab::default',
  'omnibus-gitlab::backup_cron_job',
  'datadog::dd-handler',
  'datadog::dd-agent',
  'datadog::postfix

[2016-03-22 19:50] clarter opened #288 "Unable to run integrations"
I've tried with both varnish and apache and get similar issues. I'm willing to bet this is user error, I'm just not sure exactly why they are failing. The dd-0agent is installed via Chef and running, but when adding datadog:apache to the run list I get the following:

[code]

[2016-03-22 23:53] iiro commented on #287
...or it's not reporting correctly. I have this issue also on two production Ubuntu's (running 12.04 LTS and 14.04 LTS).

[2016-03-23 13:53] miketheman commented on #288
Hi @clarter !

This cookbook requires a bit more configuration that dropping in a recipe to the run list, as expressed in each recipe's internal documentation.

Here's the notes from the apache recipe: https://github.com/DataDog/chef-datadog/blob/master/recipes/apache.rb#L3-L18

So you typically assign these details in a role, wrapper cookbook, etc to be made available during the recipe's run, whe

[2016-03-23 14:01] miketheman commented on #287
@iiro that's a good question - the postfix integration needs to be able to run as sudo and execute `find` commands.

If you wanted to suppress sudo logging for this kind of message, you could probably [manipulate the sudo config](http://stackoverflow.com/a/14278264/244037), but that's definitely beyond the scope of this cookbook.

If there's an issue with collection/reporting, then that should be

[2016-03-23 14:06] miketheman commented on #282
Hi @rohit-conn !

Sorry for the problem. It appears that the change in https://github.com/DataDog/chef-datadog/pull/212 is what is affecting you. This was also reported similarly in https://github.com/DataDog/chef-datadog/issues/230.

The simplest fix is to add the cookbook's name to the resource, something like this:

[code]

This should inform the resource to look in the `datadog-agent` cookbook

[2016-03-23 15:56] iiro commented on #287
Summarizing everything I know: actually the sudo logging itself is not the issue after all. The issue is that chef-datadog cookbook does configure incorrect permissions (dd-agent info shows that everything is ok but you get a zero value to the queue metric).

The correct sudoers(.d) line seems to be the one in the example YAML file in here: https://github.com/DataDog/dd-agent/blob/master/conf.d/po

[2016-03-24 05:30] rohit-conn commented on #282
Hello @miketheman,

Thanks, the fix is working.

[2016-03-24 05:30] #282 closed

[2016-03-24 18:49] miketheman commented on #287
@iiro can you help us out here and show what a correct sudoers line looks like? Please redact any sensitive information, of course.

[2016-03-24 20:28] clarter commented on #288
Thanks, got it figured out.

[2016-03-24 20:47] miketheman commented on #288
Great news!

[2016-03-24 20:47] #288 closed

[2016-03-24 22:12] iiro commented on #287
@miketheman sure. Sorry about the misleadings...

The working one uncommented here - the Chef-configured (non-working one) commented out.
[code]

If I comment out the first one and uncomment the other - and wait for 30-40 seconds - I can see that the metric in DD UI goes back to zero (assuming I have messages in queue). And vice versa. :) Very repeatable :)

[2016-03-25 14:39] miketheman commented on #287
I _think_ I see the problem here.

With sudoers, if we supply the config:

     dd-agent ALL=(ALL) NOPASSWD:/usr/bin/find

then any argument passed to `find` is allowed - so it's possible that the dd-agent user _could_ be used to run `find` against some other restriced directory.

This is why the config of:

    dd-agent ALL=(ALL) NOPASSWD:/usr/bin/find /var/spool/postfix

is meant to only allow s

[2016-03-30 22:21] zl4bv opened #289 "Customising the rights and permissions of datadog_monitor"
We're trying to run Datadog on Windows as a user that is not part of the Administrators group and therefore the agent service fails to start because it cannot read from the config file:

[code]

I tried modifying the datadog_monitor resource to allow customisation of the permissions, and while this was successful for the Linux permissions, I did not have the same level of success with the Windows

[2016-03-31 11:28] miketheman commented on #289
@olivielpeau Could you explore this?

[2016-04-01 20:30] iiro commented on #287
Can this be a general and common issue? I guess it could - as you get "ok" (returns always 0) - so this could be affecting some amount of users...

[2016-04-13 16:30] hartfordfive opened #292 "API Key set in attribute and stored on Chef Server"
Currently, to specify the API key, you need to set it as a node attribute.  For example, fetching the API key from an encrypted databag:

[code]

The property ends up being in clear-text in your chef server.  For some this might be OK, but i'm sure in many cases, some would prefer to not have this value stored in the node attributes on the chef server. Could an additional property be created which

[2016-04-14 12:29] hartfordfive commented on #292
I've created a [PR](https://github.com/DataDog/chef-datadog/pull/293) for this.

[2016-04-21 15:38] hartfordfive opened #297 "Missing recipe for Go expvar metrics"
Seems like there is no built-in recipe to consume Go's expvar metrics.

[2016-04-21 15:40] hartfordfive commented on #297
PR #298 has been issued for this.

[2016-04-21 18:02] #260 closed

[2016-04-21 20:04] miketheman commented on #254
Resolved in #286 for now. Closing this issue, will work towards fuller solution in #252 regardless.

[2016-04-21 20:04] #254 closed

[2016-04-21 20:11] miketheman commented on #292
I added a comment on the PR with a viable workaround: https://github.com/DataDog/chef-datadog/pull/293#issuecomment-213088218

[2016-04-21 20:12] miketheman commented on #170
Resolved via #296.

[2016-04-21 20:12] #170 closed

[2016-04-21 20:13] miketheman commented on #184
Resolved via #274.

[2016-04-21 20:13] #184 closed

[2016-04-21 20:39] miketheman commented on #297
Resolved via #298

[2016-04-21 20:39] #297 closed

[2016-04-27 23:37] sethrosenblum opened #300 "TemplateError in postgres.yaml"
Seeing this error when running chef-client on a host with the postgres check enabled:
[code]

This looks to be a result of #278 .  The `i` object here is an [ImmutableHash](http://www.rubydoc.info/github/opscode/chef/Chef/Node/ImmutableMash) so we probably want to run `i.key?('collect_function_metrics')` here.

[2016-05-02 07:57] miketheman commented on #300
See proposed fix in #302. This looks to apply the desired change.

[2016-05-03 18:22] sethrosenblum commented on #300
This is a showstopper for anyone using the postgres check.  Any chance we could hotfix this out while waiting for someone to rewrite spec tests?

[2016-05-03 23:10] miketheman commented on #300
@sethrosenblum Please review #304 - it fixes another bug in the parameter wrapped in the `if` in the first place.

[2016-05-03 23:11] miketheman commented on #292
Closing based on https://github.com/DataDog/chef-datadog/pull/293#issuecomment-214337405

[2016-05-03 23:11] #292 closed

[2016-05-03 23:42] BrentOnRails commented on #287
Having the same issue.

I either have to override the command to be /usr/bin/find only or map the commands with the queues i want.

`  dd_sudo = resources("sudo[dd-agent-find-postfix]")
  dd_sudo.commands = ["/usr/bin/find"]
  dd_sudo.run_action(:install)
`

The datadog postfix plugin installation docs specify to allow /usr/bin/find in the sudoers file, however you also have the option of mapping

[2016-05-04 01:10] BrentOnRails commented on #287
https://github.com/DataDog/chef-datadog/pull/305

[2016-05-04 18:35] #300 closed

[2016-05-04 18:52] miketheman commented on #300
@sethrosenblum Released in 2.4.0

[2016-05-06 13:46] clmoreno opened #306 "IIS integration is not collecting data"
I installed datadog and added the iis integration using the recipe datadog::iis, but it is not collecting data..

`node.default.datadog.iis.instances= [{"host" => "localhost", "tags" => ["tag","tag2"]}]`
`include_recipe "datadog::iis"`

also tried

`node.default.datadog.iis.instances= [{"host" => "localhost", "tags" => ["tag","tag2"]}]`
`datadog_monitor 'iis' do`
`instances node['datadog']['iis'][

[2016-05-19 09:24] rmoriz opened #309 "provide resource to roll-out custom AgentChecks"
As a DataDog user
I've written a custom AgentCheck
and want to use chef-datadog
to deploy the check and its config to my nodes

[2016-05-23 16:51] rlgomes commented on #275
Seems like something that got updated [here](https://github.com/DataDog/dd-agent/blob/master/conf.d/kafka.yaml.example) but the template files in the recipe weren't updated. I'm going to bring this up with their support to see if they can keep these two in sync.

[2016-06-03 17:03] icberg7 opened #311 "yum gpg key should be an attribute"
Our servers are behind a firewall, and we use a proxy/mirror to make the RPM packages available internally. We also need to host the GPG keys internally somewhere as well, so we really need to be able to configure the gpg key through a wrapper or something.

[2016-06-07 17:17] tjsingleton commented on #193
I see that the omnibus dmg is done. Would you be open to a PR adding support for managing it with chef?

[2016-06-07 22:18] eedwardsdisco opened #312 "failure on ubuntu when installing gpg key"
2.4.0

see gist https://gist.github.com/eedwardsdisco/e9bba491412dcb262cd1db7a2a375044

worked the second run through but caused my recipe to error on the first run

[2016-06-08 08:59] olivielpeau commented on #312
Hi @eedwardsdisco! This looks like a transient network issue that prevented the gpg key from being downloaded, unfortunately there's not much we can do to

[2016-06-09 19:51] degemer commented on #193
Sure @tjsingleton, if you want to give it a try we'll be happy to review it!

[2016-06-20 16:21] chrissnell commented on #170
Did this ever get released?

[2016-06-20 17:43] olivielpeau commented on #170
@chrissnell This got released with `v2.3.0` (see https://github.com/DataDog/chef-datadog/blob/v2.3.0/attributes/default.rb#L39-L45)

[2016-06-29 03:38] mfischer-zd opened #318 "chef-handler locked at 1.1.0"
Please relax the chef-handler cookbook restriction so that 1.4.0 can be used.

[2016-07-01 08:09] historus opened #320 "Consider using retries to work around network issues"
I ran into this issue today.
Using retries and providing node attributes for the amount of retries and the retry delay (each with the default value so nothing changes) could help. Then the user could decide whether to use retries or keep it a one time only attempt.

Generated at 2016-07-01 05:47:03 +0000
Chef::Exceptions::Exec: datadog[TestRunner](testrunner::default line 50) had an error: Chef::E

[2016-07-05 21:23] eedwardsdisco opened #321 "agent repeatedly failing to install on chef 12.7.2 with OpsWorks"
Cookbook Version 2.4.0
OpsWorks Agent Version 4016
Chef Version 12.7.2

Receiving `No candidate version available for datadog-agent`

This is causing chef run to fail, and does not resolve upon additional runs.

[code]

[2016-07-05 23:34] eedwardsdisco commented on #321
Note that if I completely destroy the node that has the issue and re-create it, I was able to get past the issue, thus it appears to be intermittent. Other nodes within the same cluster using this code successfully worked on first try.

[2016-07-09 09:37] historus commented on #320
[2016-07-09T05:46:55+00:00] ERROR: datadog[AGC] (agc::default line 45) had an error: Mixlib::ShellOut::ShellCommandFailed: yum_package[datadog-agent-base] (datadog::_install-linux line 36) had an error: Mixlib::ShellOut::ShellCommandFailed: Expected process to exit with [0], but received '1'
---- Begin output of /usr/bin/python2.7 /opt/chef/embedded/lib/ruby/gems/2.1.0/gems/chef-12.11.18/lib/chef/

[2016-07-13 13:48] olivielpeau commented on #309
Hi @rmoriz,

As you wrote, this could mainly addressed through some improved documentation.

Just to be sure I understand, could you give an example of what you mean by "custom template source definition"? Thanks!

[2016-07-13 13:51] olivielpeau commented on #311
Hi @icberg7, such a feature would be very welcome, would you mind opening a PR implementing it? (as you seem to have implemented it on your fork of the cookbook)

Thanks!

[2016-07-13 13:58] olivielpeau commented on #318
Hi @mfischer-zd, the restriction on `chef-handler` is being discussed in #291.

We need to make sure that there wouldn't be adverse effects (in terms of compatibility especially) if we relaxed the condition.

I'm going to close this issue since it's a duplicate, but feel free to react on #291, thanks.

[2016-07-13 14:03] #318 closed

[2016-07-13 14:44] olivielpeau commented on #320
Hi @historus and thanks for your feedback.

Such an addition would make sense IMO, I'm adding it to our triage milestone. Feel free to open a PR implementing it, otherwise let us know the priority of this feature for you so that we can prioritize the feature.

Thanks!

[2016-07-13 15:24] volker-fr opened #325 "Consider not hardcoding the (minor) version of chef_handler"
In https://github.com/DataDog/chef-datadog/blob/master/metadata.rb#L25 the chef_handler cookbook version is enforced to be version 1.1.x

The chef_handler cookbook is already at release 1.4. Therefore I highly recommend to not enforce the chef_handler version. Or at least not the minor version but the major version.

The change would be simple, just removing the version constraint or modifying it

[2016-07-13 15:26] volker-fr commented on #325
There was actually a pull request for this: https://github.com/DataDog/chef-datadog/pull/291

[2016-07-13 15:31] iancward commented on #311
Hi @olivielpeau I had to get approval to submit, but now that it's approved, please see #326.

Thanks.

[2016-07-13 15:34] olivielpeau commented on #325
Hi @volker-fr, you're not the first person to open an issue about this so I'll keep it open for reference and visibility, but let's continue the discussion in #291.

Thanks for the feedback!

[2016-07-14 14:12] rmoriz commented on #309
1. The current `monitor` resource only manages .yml files in `/etc/dd-agent/conf.d/`

Let's say you have authored a custom check, you'll have to poke into the "internals" and manually place the check.

[code]

2. custom template source

[code]

while `datadog_monitor` provides the option to set [a source cookbook](https://github.com/DataDog/chef-datadog/blob/fdc80b464c0539be2720f0c6e0626b6d2e64ead

[2016-07-15 01:06] kbruner opened #327 "Request to allow init_config customisation in cassandra.yaml"
Right now, the cassandra recipe installs a dd-agent config that generates more than 350 checks on our nodes, mainly because many checks are per keyspace, and Datastax OpsCenter adds two keyspaces, plus the two we actually use on our cluster, which are the only two for which we actually care about collecting metrics.  The init_config is hardcoded in the template, though, so there's no way to add ex

[2016-07-15 14:43] olivielpeau commented on #327
Hi @kbruner and thanks for your feedback!

I think we could implement the feature this way:
- when `node['datadog']['cassandra']['init_config']` is `nil`, use the default configuration for `init_config` in `cassandra.yaml`
- when `node['datadog']['cassandra']['init_config']` is defined, use it as the `init_config` of `cassandra.yaml`

Thoughts?

Feel free to open a PR implementing this, but in any

[2016-07-15 18:35] mfischer-zd opened #328 "Use lazy evaluation for node attributes rendered into templates"
Assume a user wants to store the API key in an external information service other than Chef server, such as Amazon S3 or Hashicorp Vault.  This key would be fetched during the run phase, not the compile phase; and therefore the attribute cannot be set during the compile phase as with other attributes.

So, use Chef's `lazy` (delayed evaluation) operator where possible in any resource attributes th

[2016-07-20 18:57] gzysk8 opened #331 "remove-dd-agent recipe is not Windows compatible"
This came in via a support ticket:

I believe the `datadog::remove-dd-agen`t recipe is incorrect. I was testing it before I installed the software broadly for a trial. The issue is `action :purge`, as it is currently used in that recipe, only works on Linux (specifically, Ubuntu per the documentation). To make this work for Linux and Windows (thus far, tested on Windows 2012 R2 and CentOS 7), the

[2016-07-20 20:25] sam-obeid commented on #141
This was very useful! Thanks for sharing.

[2016-07-21 09:32] olivielpeau commented on #331
That is correct, the `datadog::remove-dd-agent` hasn't been updated to support Windows yet. Thanks for the snippet, I'm adding the issue in Triage but we should probably take care of it for the minor release after next.

[2016-08-03 18:00] #311 closed

[2016-08-03 18:03] #331 closed

[2016-08-05 16:12] degemer opened #336 "allow custom configuration in datadog.conf"
For now we can use the `legacy_integrations`: https://github.com/DataDog/chef-datadog/blob/fdc80b464c0539be2720f0c6e0626b6d2e64ead1/templates/default/datadog.conf.erb#L116-L135

But it's clearly not a good way to do it, it would be way easier if we were able to add custom 'key: value' with an attribute like `node['datadog']['extra_config'] = {key: value}`.

[2016-08-05 17:06] qgriffith opened #337 "JMX plugin not formating yml properly"
I am having an issue with the jmx.yml config using chef. It looks like it is not indenting the config properly. There should be two indents for the - include statement. Below is an example of a working config that I did by hand and the one done by chef

[code]

[2016-08-07 02:13] clmoreno commented on #306
This issue was fixed with the merge #324

[2016-08-07 02:13] #306 closed

[2016-08-08 09:48] olivielpeau commented on #337
@qgriffith Actually the second yaml does have valid indentation, the two indents for the `- include` in `conf` are not mandatory since it denotes an element of a list. You can use an online yaml parser (like http://yaml-online-parser.appspot.com/) if you want to make sure of that.

The only functional difference I can see between your 2 configs is that `host` has been changed from `127.0.0.1` to `

[2016-08-08 15:19] jeffbyrnes opened #338 "Unable to test my cookbook w/ ChefSpec when including datadog::dd-handler"
I’m using `datadog` v2.5.0.

I have a cookbook, with a recipe that:

[code]

However, this is the output I get:

[code]

If I `chef gem install chef-handler-datadog`, things work properly, but that feels a bit janky.

[2016-08-08 16:40] olivielpeau commented on #338
Hi @jeffbyrnes and thanks for your feedback!

The `dd-handler` recipe has to `require chef/handler/datadog` because some versions of the [`chef_handler`](https://github.com/chef-cookbooks/chef_handler) cookbook need this `require` statement to work properly.

Obviously using the `require` doesn't work when the `chef-handler-datadog` gem hasn't actually been installed by the `chef_gem` resource tha

[2016-08-08 17:51] qgriffith commented on #337
I have set it to 127.0.0.1 and still am having the same issue. When I opened a ticket with datadog they indicated the indents was the problem.

[code]

If I change the jmx.yml by hand to this, it works

[code]
Here is the output of jmxfetch

[code]

[2016-08-08 17:56] qgriffith commented on #337
Wait i see the issue. I had attribute**s** in the chef recipe and not attribute

[2016-08-09 08:43] olivielpeau commented on #337
Good catch! I'll go ahead and close this issue then, feel free to re-open it if needed

[2016-08-09 08:43] #337 closed

[2016-08-09 09:27] olivielpeau commented on #226
Fixed with #308. Closing

[2016-08-09 09:27] #226 closed

[2016-08-09 09:32] olivielpeau commented on #275
Same issue as what #257 addresses, will keep this issue open until we fix it

[2016-08-09 09:34] olivielpeau commented on #279
Closing since this doesn't look related to the cookbook _per se_

@truthbk Feel free to re-open this issue if you have more info ;)

[2016-08-09 09:34] #279 closed

[2016-08-09 09:56] olivielpeau commented on #309
Thanks @rmoriz for detailing your use case!

`1.` could be addressed through some improved documentation. If the use case is common enough we could also consider adding a `dd-custom-check` recipe that takes care of installing the custom check file and calls the `monitor` resource.

For `2.` I agree that it could make sense to allow setting a custom source template on the resource.

Adding both to

[2016-08-09 10:05] olivielpeau commented on #312
Related to #320

[2016-08-09 12:21] olivielpeau commented on #321
This could have been caused by a network failure during the `apt-get update` that's triggered when the repository is installed on the first run.

Such a failure would cause the package install to fail on the first run with the error you posted, and on subsequent runs `apt-get update` is not run (since the repository is already installed), so the error persists.

Unfortunately the `apt` cookbook ig

[2016-08-09 16:20] eedwardsdisco commented on #321
I would suspect that an intermittent network issue could indeed cause the issue.

[2016-08-09 16:50] olivielpeau commented on #321
Ok, thanks for your feedback!

IMO this issue can't be fixed cleanly until the following open issue on the `apt` cookbook has been resolved: https://github.com/chef-cookbooks/apt/issues/164

[2016-08-10 14:28] mlcooper opened #339 "Create gunicorn recipe"

[2016-08-10 15:22] jeffbyrnes commented on #338
@olivielpeau very helpful, thanks!

[2016-08-11 09:25] mfischer-zd opened #341 "Provide alternative methods of setting application and API keys"
Using node attributes to set the application and API keys has security implications that may be unsuitable for more security-conscious users.  For example, such attributes will automatically be saved back to the Chef server unless you blacklist them somehow (e.g., via the `whitelist` parameters in `client.rb`, or by using a third-party cookbook like blacklist-node-attrs that monkey-patches `node.s

[2016-08-12 02:04] carolfly86 opened #342 "postgres.yaml custom_metrics not showing"
Hi,
I'm trying to add custom_metrics to postgres.yaml somehow it's not showing up at all.
I would expect at least the custom_metrics session exists.
Below is the code I use, what am I missing ?
[code]

[2016-08-12 03:20] carolfly86 commented on #342
I think it's because the datadog cookbook version is 2.2 instead of latest 2.5.

[2016-08-12 03:20] #342 closed

[2016-08-12 16:12] pmahoney opened #346 "http_proxy settings not propagated to apt-key"
The recipe [installs the datadog repository with key](https://github.com/DataDog/chef-datadog/blob/07a524c78f550c6e2ea1f9a7f65af4a8b92e2242/recipes/repository.rb#L28). The [apt_repository](https://github.com/chef-cookbooks/apt/blob/ccabb7bd77a7057bd892b2d93b59fe29afb06981/providers/repository.rb#L27) resource takes a `key_proxy` option that causes it to set `http_proxy` for the call to `apt-key`.

[2016-08-18 09:18] olivielpeau commented on #339
@mlcooper: Thanks for your contribution!

It looks like you have a commit ready on your fork, could you open a PR against this repository? This will allow us to review and merge your changes ;)

[2016-08-18 09:44] olivielpeau commented on #346
Thanks for your feedback @pmahoney!

The `key_proxy` attribute has been added in version `2.8.0` of the `apt` cookbook (see https://github.com/chef-cookbooks/apt/pull/135). It's possible to set a proxy in earlier (and later) versions of `apt` by setting the `node['apt']['key_proxy']` attribure, so that's probably what I would recommend. Have you tried setting that node attribute?

If we wanted to

[2016-08-18 14:42] mlcooper commented on #339
Hi @olivielpeau I'm just waiting for approval internally within my company for me to be able to open this PR.  Shouldn't be much longer.

[2016-08-22 21:41] haidangwa opened #349 "repository should not enforce gpgcheck when gpgkey is nil or empty String"
`node['datadog']['gpgkey']` can now be set to nil or empty String. This should automatically set the yum_repository resource to false.

[code]

[2016-09-01 17:23] debashis1982 opened #352 "Do not install datadog-agent package if it is already installed"
Hi,

Can we add a check here https://github.com/DataDog/chef-datadog/blob/master/recipes/_install-linux.rb#L41 to not install datadog-agent package if it is not installed already?
We want to speed up our wrapper cookbook run by running them on VMs created from images that already have datadog-agent package installed.

Thanks!

[2016-09-05 15:15] olivielpeau commented on #352
Hi @debashis1982!

I'm not sure I understand, it's the `package` resource's responsibility to check whether the agent package is installed, and if the agent is already installed it shouldn't try to install it on the node. The check itself should be fairly quick and shouldn't slow down the chef run. What are you experiencing exactly?

[2016-09-05 15:33] olivielpeau commented on #349
Hi @haidangwa and thanks for reporting this!

I'm not sure what the correct approach is here: we could also add an attribute like `node['datadog']['yumrepo_gpgcheck']` that would need to be explicitly set to `false` to disable gpg verification (this would follow the `yum` cookbook's default more closely, see https://github.com/chef-cookbooks/yum/pull/66).

As an aside, since the packages themselve

[2016-09-05 16:59] haidangwa commented on #349
@olivielpeau a new attribute to explicitly set it would be a good thing. As it was in the current code, there was no such setting and it seemed that by setting the gpgkey attribute to nil that it wouldn't attempt to check, but it did. I'd rather go the more secure route, anyway, so we did import the key into our repo and set the gpgkey URL to the internal repo. However, it wasn't apparent to me at

[2016-09-07 01:36] haidangwa commented on #328
`node['datadog']['tags']` are another good case for a bugfix of this nature

[2016-09-08 12:24] olivielpeau commented on #349
Thanks for your response!

I'm going to put the issue in triage until we can assess if there are use cases where disabling the gpgcheck is needed. I'd prefer the cookbook to enforce the gpgcheck unless there are cases where disabling it is unavoidable.

[2016-09-12 18:23] mlcooper commented on #339
@olivielpeau PR has been opened and it passed the CI tests.

[2016-09-15 16:28] olivielpeau commented on #339
Resolved in #355, will be in next minor release. Closing. Thanks @mlcooper!

[2016-09-15 16:28] #339 closed

[2016-09-15 18:10] AntoineBro opened #360 "Cannot install repository using yum with Chef client - version 12.14.60"
The latest release of the chef client include a  yum_repository provider ( see https://github.com/chef/chef/blob/master/lib/chef/provider/yum_repository.rb )

That causes DataDog install to fail :

[code]

[2016-09-15 19:09] debashis1982 commented on #352
@olivielpeau Thanks! I was actually looking at it wrongly. It is a non-issue. Closing.

[2016-09-15 19:09] #352 closed

[2016-09-16 08:58] bai commented on #360
It should be `baseurl` instead of `url`.

[2016-09-16 10:16] historus commented on #320
If anybody else ends up here, I worked around the issue in my wrapper with

[code]

[2016-09-16 11:20] historus commented on #360
I already opened a PR https://github.com/DataDog/chef-datadog/pull/361

[2016-09-20 14:21] olivielpeau commented on #360
Closed via #361

[2016-09-20 14:21] #360 closed

[2016-09-20 14:23] olivielpeau commented on #275
Resolved by #340

[2016-09-20 14:23] #275 closed

[2016-09-21 06:58] jvrplmlmn opened #363 "The docker_daemon recipe doesn't add the 'dd-agent' user to the 'docker' group"
The `docker` and `docker_daemon` recipes don't include the `dd-agent` user in the `docker` group, which is required to be able to retrieve the metrics.

See the documentation:

![image](https://cloud.githubusercontent.com/assets/1429460/18700730/1d82bf1e-7fd9-11e6-9543-8bc23ecb49b4.png)

Trace from my `dd-agent`:

[code]

From the configuration examples in the [`dd-agent`](https://github.com/DataD

[2016-09-22 10:10] #363 closed

[2016-09-28 20:20] martinisoft commented on #338
A trick we've done ourselves is to use ChefSpec to stub out the recipe call to avoid it entirely. Here is a snippet:

[code]

This will allow other recipes through but stub out the dd-handler recipe entirely.

[2016-09-29 19:07] mlcooper opened #366 "Attribute for version of datadog-agent to install is the same for Linux and Windows install packages"
The attribute for version of the datadog-agent to be installed is the same for Linux and Windows install packages, and the problem with that is that the version number format of these packages does not match.  For example, the latest package for windows is `ddagent-cli-5.9.0.msi` and the latest for linux is `datadog-agent-5.9.0-1.x86_64.rpm`.  Linux has a `-1` and Windows does not (as is standard)

[2016-10-05 22:08] olivielpeau commented on #366
Hi @mlcooper and thanks for your detailed feedback!

The versioning is actually even more different between platforms since the deb packages include the epoch in their versions, e.g. `'1:5.9.0-1'`.

Using 3 different attributes sounds reasonable to me as long as the cookbook falls back to the "global" `node[datadog][agent_version]` attribute when they're not set.

Feel free to open a PR implementi

[2016-10-06 21:08] mlcooper commented on #366
@olivielpeau PR https://github.com/DataDog/chef-datadog/pull/368 has been opened for this issue.

[2016-10-07 17:15] red8888 opened #369 "How can I use the datadog_monitor resource to install my own custom checks?"
I'm looking at the monitoring resource and I'm curious how I can use it to install my own checks.

I can see how the **:add** action copies down the .yaml files from the templates folder but where does it copy the .py files for the checks?

[2016-10-10 18:48] iancward opened #371 "Add Recipe for system_swap check"
It looks like the dd-agent supports both `system_core` and `system_swap` to get optional/additional metrics for Linux-based hosts. This cookbook has a recipe for system_core already, but does not have a system_swap recipe. It would be nice if this cookbook also added a system_swap recipe.

[2016-10-14 23:10] #371 closed

[2016-10-14 23:26] olivielpeau commented on #369
Hi @red8888!

The `datadog_monitor` resource doesn't support custom checks right now, but it'd make sense to make it support it. Feel free to open a PR implementing this, if you can't I'm adding this issue to our triage along with the related issue #309 so that we take care of it in the future.

Let me know if you have any questions!

[2016-10-17 21:55] nyanshak opened #373 "Postfix template adds tags line even if no tags exist."
chef-datadog/templates/default/postfix.yaml.erb (current):

[code]

This code segment adds a line with 'tags:' even if there is no 'tags' element. In the dd-agent code, a tags line like this ends up being interpreted as `None` (correctly) instead of `[]` (empty array). This causes the integration to fail to send data correctly, even though 'tags' is listed as optional.

Suggestion:
Check for prese

[2016-10-18 23:23] #366 closed

[2016-10-24 14:22] #336 closed

[2016-10-26 10:04] sbagmeijer opened #376 "opsworks howto?"
we are both new to aws opswork/chef and to datadog we tried to follow the instructions to get the datadog client to install by chef on all our servers but we don't seems to fully understand all the steps required.

Is there someone with an example chef module that installs datadog so we can have a look how it is actually done? We are trying to install datadog from our own chef module.

[2016-11-01 07:43] theckman opened #377 "Add support for retrieving secrets from chef-vault"
With newer versions of `chef-client`, it's nice to work with `chef-vault` to manage secrets for system utilities. As of right now, the only mechanism for using `chef-vault` and the `datadog` cookbook is to write a wrapper cookbook, and set the attributes. That works great. The only downside is that we're setting attributes, and thus effectively leaking credentials.

Is there any interest in enhanc

[2016-11-09 09:42] theckman opened #378 "Tag / Cut new release"
Looks like there have been some merges to master, including a bugfix/enhancement (`dd-agent` isn't added to the docker group). I can workaround this by pinning the cookbook to a git hash, but that's not ideal. Would you be willing to cut either a `2.6.1` or a `2.7.0` so I can remove the workaround?

Cheers!

[2016-11-10 20:30] olivielpeau commented on #378
Hi @theckman, you're right there are a few changes that we haven't released yet, I'll work on getting `2.7.0` released by Monday, thanks for your patience

[2016-11-12 10:18] theckman commented on #378
@olivielpeau I just found a pretty gnarly bug with the way the `postgres` template is rendered that I'm going to need to patch very soon. I'm being a bit selfish here, but could we delay `2.7.0` so that I can open an issue detailing the problem and open a PR with a proposed fix?

I'm hoping to get all of that done during the day on Sunday (PST). This would avoid me having to continue running a pin

[2016-11-13 01:17] olivielpeau commented on #378
@theckman Sounds good! If you can open the PR by Monday I'll be happy to review it and include it in `2.7.0`

[2016-11-13 09:21] theckman opened #379 "postgres: template file renders invalid file in some cases"
Hello,

I've run in to some issues with the template file used to render the `check.d` configuration for Postgres. Specifically, the file is unpacking the attributes (by hand) in to YAML. Unfortunately, there are a few cases where this file is doing the wrong thing.

The first issue I ran in to is that when using the `relations` attribute (Array), the template expects each entry to be a string[1].

[2016-11-13 09:23] theckman commented on #378
@olivielpeau this might be a bigger yak than I thought: #379.

[2016-11-14 01:03] theckman commented on #378
@olivielpeau @miketheman helpfully opened #380 which fixes the issue I was hoping we could get in for the `2.7.0` release. With it including breaking changes I'm not sure how possible that is.

[2016-11-14 01:07] miketheman commented on #378
To be clear, the PR I opened has 0 breaking changes. Removing the
customized template logic is the breaking changes for the next major
revision.

On Sun, Nov 13, 2016, 20:03 Tim Heckman <notifications@github.com> wrote:

[2016-11-14 01:09] theckman commented on #378
Oops! That was my bad, I missed it with how GitHub generated the diff:

* https://github.com/DataDog/chef-datadog/pull/380/files#diff-2f0a7ed4dff39b27e80825e1aa90f6faR12

Sorry about that.

[2016-11-14 23:18] #379 closed

[2016-11-15 18:07] #373 closed

[2016-11-15 23:47] olivielpeau commented on #378
`2.7.0` is out, closing

Thanks @theckman and @miketheman!

[2016-11-15 23:47] #378 closed

[2016-11-16 00:02] theckman commented on #378
@olivielpeau you da realest MVP.

[2016-11-16 00:05] olivielpeau commented on #376
Hi @sbagmeijer, have you followed the instructions in the README? https://github.com/DataDog/chef-datadog#usage (especially step `4` which adds a role which `run_list` includes the `datadog::dd-agent` recipe)

Could you give use more info on what you've set up and what doesn't seem to work?

[2016-11-29 18:56] iancward opened #382 "Add support for RabbitMQ ssl_verify option"
https://github.com/DataDog/dd-agent/issues/2991 added the `ssl_verify` option, which allows a user to skip SSL verification for the RabbitMQ integration. It looks like the template in this cookbook for the RabbitMQ integration does not yet support this feature, so it should be added.

[2016-12-01 03:01] #382 closed

[2016-12-08 20:34] mcg commented on #194
Any chance this is still being worked on? Trying to use the Nginx module and it's out of date, doesn't support "ssl_validation".

[2016-12-21 17:31] mlcooper opened #386 "Add recipe for windows_service integration/monitoring"

[2017-01-05 10:48] #287 closed

[2017-01-05 17:49] astral303 commented on #377
@theckman this blog post documents how to use chef-vault more securely, such that attributes are not leaked on node save:

http://jtimberman.housepub.org/blog/2014/12/24/quicktip-delete-attributes/

[2017-01-07 02:22] martinisoft commented on #377
I think this would be solved by moving the agent config into a Chef Resource. I'm planning to put up a PR for one in the near-ish future because I too don't like that it saves API keys in the clear.

[2017-01-11 15:15] #320 closed

[2017-01-19 12:32] rmoriz opened #392 "Duplicate installation of apt-transport-https package / resource cloning / chef13"
Hi,

https://github.com/DataDog/chef-datadog/blob/2a7e914993f76f452e09268dae9c2d69f1a7fe13/recipes/repository.rb#L24-L26 does a resource clone as the package resource is already defined in the apt cookbook at https://github.com/chef-cookbooks/apt/blob/7d6310eee239072b6b013f5b6f2c4f10a01c3f0b/recipes/default.rb#L85

[code]

This affects users who already prepare their chef setup for chef13 and enab

[2017-01-19 19:20] olivielpeau commented on #392
Thanks @rmoriz for the feedback and PR, there's a discussion about this issue in #388.

Basically removing this resource from the `datadog` cookbook would require bumping the dependency on the `apt` cookbook. Instead we could change the name of the resource in this cookbook to avoid resource cloning (see the PR I linked to for the full discussion, feel free to respond there)

[2017-01-20 00:08] olivielpeau commented on #377
@theckman @martinisoft: Could you have a look at the approach of #395 (see discussion in #345)?
It makes the cookbook pull the `api_key` and the `application_key` from the `run_state` first, so your wrapper cookbook could set the keys in the `run_state` and wouldn't leak the credentials.

[2017-01-20 00:10] olivielpeau commented on #312
This is blocked until https://github.com/chef-cookbooks/apt/pull/166 is merged in the `apt` cookbook

[2017-01-24 23:29] #328 closed

[2017-01-24 23:29] #341 closed

[2017-02-03 00:20] olivielpeau opened #399 "[dd-handler] Allow passing arbitrary config values to the handler"
So that every new option in the handler doesn't have to be reflected in the present cookbook.

[2017-02-10 03:10] mlcooper opened #401 "New datadog.conf settings for Traces"
Allow configuration of settings for Traces in datadog.conf

https://app.datadoghq.com/trace/docs/tutorials/configuration

[2017-02-10 15:45] kylegoch commented on #312
Note that the issue above was clsoed with no merge, referencing the part in question had been moved to the chef-client.

[2017-02-13 03:06] haidangwa opened #403 "remote_file[DATADOG_RPM_KEY_E09422B3.public] needs a guard if the key is already cached or already imported"
https://github.com/DataDog/chef-datadog/blob/master/recipes/repository.rb#L56-L59 needs a guard. This resource is executed on every chef run even if the key has already been cached. The problem is not only downloading unnecessarily on every chef run, but the real issue comes into play when the remote source URL becomes unavailable. For example, if a node's remote RPM repo goes offline and the key

[2017-02-13 03:18] iancward commented on #403
It looks like the `execute` resource that handles the actual import is guarded (https://github.com/DataDog/chef-datadog/blob/master/recipes/repository.rb#L65), so this guard could be added to the `remote_file` resource; also, one could be configured to notify the other.

[2017-02-14 04:26] bai commented on #392
I think this could be closed as https://github.com/DataDog/chef-datadog/pull/388 has been merged 👍

P.S. @rmoriz Can't help but say thanks for your work on `hetzner-api`!

[2017-02-16 00:29] #392 closed

[2017-02-21 20:40] #403 closed

[2017-02-24 13:20] rmoriz opened #406 "Upgrade chef-handler dependency for chef 13 support"
Currently limited in metadata.rb to ~> 1.1

However that chef-handler version will not be compatible with Chef 13 as it uses deprecated features.

Problem:

[code]

I suggest to enable  "deprecations_as_errors" in test-kitchen, e.g.

[code]

[2017-02-24 18:55] olivielpeau commented on #406
Thanks @rmoriz for reporting this issue. For reference it's also been discussed here: https://github.com/DataDog/chef-datadog/pull/388#issuecomment-280337523

We should try loosening the version constraint on `chef_handler` to allow versions 2.x and check that the recipe still works well. Going to add this to the milestone for Chef 13 support and queue some work on that.

Didn't know about the `de

[2017-02-27 21:29] dsalvador-dsalvador opened #408 "chef-handler-datadog gem cannot be installed on restricted networks"
Servers in restricted networks cannot reach https://rubygems.org to download the chef-handler-datadog gem.

I have created PR https://github.com/DataDog/chef-datadog/pull/407, which accounts for an optional attribute which the user can set to specify a custom gem server.  If the attribute is not set, then the default server https://rubygems.org will remain in use.

Here's an example of setting the

[2017-03-07 23:27] #401 closed

[2017-03-08 05:38] chanjc opened #412 "Newer version of Datadog agent on Windows > 5.11?"
Hi,

APM required to be at dd agent > 5.11
But the ddagent-cli.msi latest that can be downloaded still at 5.10.x
When the windows agent that can support > 5.11 will be available?
Thank you.

[2017-03-08 05:39] #412 closed

[2017-03-16 15:14] olivielpeau commented on #408
Fixed in #413

[2017-03-16 15:14] #408 closed

[2017-03-16 15:17] olivielpeau commented on #376
Closing, let us know if you need more information @sbagmeijer

[2017-03-16 15:17] #376 closed

[2017-03-23 20:04] degemer commented on #406
Done in this PR: https://github.com/DataDog/chef-datadog/pull/414, will be part of 2.9.0 (to be released this week).

Although it seems that chef_handler 1.x is still compatible with Chef 13, see this comment for more details: https://github.com/DataDog/chef-datadog/pull/396#issuecomment-288841453

Well, at least we checked that we're compatible with chef_handler 2.x!

[2017-03-23 20:04] #406 closed

[2017-03-24 17:59] straeth1 opened #416 "windows_package resource uses property success_codes"
On Windows machines with the datadog cookbook, I run into the following error in the client.log:

[code]

The Stacktrace points to the `_install-windows.rb` recipe that uses a property which is not supported by the core Chef windows_package resource.
[code]

I think this is a left over when the windows community cookbook had a windows_package resource on its own, but the community windows cookbook

[2017-03-24 18:21] olivielpeau commented on #416
Thanks @straeth1 for the feedback!

We've also identified this issue, which is one of the reasons why the latest version of the present cookbook (`2.9.0`) is explicitly not compatible with `windows` `3.x` (see https://github.com/DataDog/chef-datadog/blob/v2.9.0/metadata.rb#L26).
(The other reasons being that we've simply haven't had the chance to test how the cookbook behaves on different versions

[2017-03-28 15:23] bflad opened #418 "enable_trace_agent Attribute Breaks Configuration for Service Discovery"
Hello there!

We tried switching our attributes from:
[code]

To the new `enable_trace_agent` attribute via:

[code]

However in the configuration template for `enable_trace_agent` (https://github.com/DataDog/chef-datadog/blob/master/templates/default/datadog.conf.erb#L64-L75), it inserts new subsection headers into the configuration file, which breaks service discovery by not switching the config

[2017-03-29 17:36] cmessinaclearchannel opened #421 "Documentation link in recipes/docker.rb is a 404"
https://github.com/DataDog/chef-datadog/blob/master/recipes/docker.rb#L22
refers to https://www.datadoghq.com/2014/06/monitor-docker-datadog/
This page does not exist.

Also at https://github.com/DataDog/chef-datadog/blob/master/recipes/docker_daemon.rb#L22

[2017-03-29 18:58] olivielpeau commented on #421
Thanks @cmessinaclearchannel for reporting this! I think we should update these comments so that they refer to http://docs.datadoghq.com/integrations/docker/

Feel free to open a PR addressing this, otherwise we'll do it for the next release

[2017-03-29 19:00] olivielpeau commented on #418
I'll go ahead and close this since you fixed the issue on the trace agent config option @bflad, thanks again!

The changes on the service discovery attributes will be released with the next minor

[2017-03-29 19:00] #418 closed

[2017-03-31 06:26] straeth1 commented on #416
Hi Olivier
Pinning the `windows` cookbook to a specific version is fine with me at the moment and I am glad that you have already started to address the issue.

[2017-04-07 15:20] cmessinaclearchannel opened #423 "sample code in recipes/network.rb comment results in a recipe compile error"
Using the sample code in recipes/network.rb, chef will give a recipe compile error.
https://github.com/DataDog/chef-datadog/blob/master/recipes/network.rb#L5

`# node.datadog.network.instances = [`

I believe that this should read:
`# node.override['datadog']['network']['instances'] = [`

This error occurs on Chef 12.12.15, and presumably 13+ though I have not tested that.

[code]

[2017-04-10 22:28] olivielpeau commented on #423
Thanks @cmessinaclearchannel! The syntax in these examples is indeed not correct anymore (and we probably use the same syntax in a lot of other recipe comments).

As always, we'd be happy to review a PR of yours, but if you don't have time we'll fix this for the next minor release.

[2017-04-24 11:22] AlexBevan opened #426 "dd-handler broken in chef-client 13"
include_recipe 'datadog::dd-handler'

================================================================================
  Recipe Compile Error in /var/chef/cache/cookbooks/zone_Xenial_base/recipes/default.rb
  ================================================================================

  NoMethodError
  -------------
  chef_handler[Chef::Handler::Datadog] (datadog::dd-handler line 52) had an e

[2017-04-24 15:59] olivielpeau commented on #426
Hi @AlexBevan, thanks for reporting this!

This issue seems to come from the `chef_handler` cookbook: https://github.com/chef-cookbooks/chef_handler/issues/50
Could you try using the latest version of `chef_handler` (`2.1.1`) and see if you're still experiencing this issue? Thanks!

[2017-04-24 16:12] AlexBevan commented on #426
Right you are, thanks for the swift reply!

[2017-04-24 16:12] #426 closed

[2017-04-27 01:00] iancward opened #429 "[disk] configuration for disk integration?"
While the disk integration for the Datadog agent doesn't require any configuration by default, it looks like you are able to set up a file to override the defaults (e.g. to exclude certain file systems or mounts from metrics collection). It doesn't look like this cookbook provides the ability to add this custom configuration.
Did I miss something or does this cookbook not have that feature?

[2017-04-27 01:03] iancward commented on #194
@mcg in case you didn't see #194, the `ssl_validation` option is now supported for the nginx integration.

[2017-04-28 18:05] ed-flanagan opened #431 "trace-agent still runs even though `enable_trace_agent` is false"
It looks like [trace-agent](https://github.com/DataDog/datadog-trace-agent) changed it's "enabling" behavior recently to be enabled implicitly rather than explicitly: https://github.com/DataDog/datadog-trace-agent/commit/ef8231650ea7f8b43160065547ec58e5ce5fcd19, https://github.com/DataDog/datadog-trace-agent/commit/284f58344d67b0cb81fbc1242d69aeadec2ea97a, https://github.com/DataDog/datadog-trace-

[2017-05-03 18:05] #429 closed

[2017-05-03 21:05] #431 closed

[2017-05-04 20:35] #421 closed

[2017-05-04 20:36] olivielpeau commented on #423
Fixed in #434, closing

[2017-05-04 20:36] #423 closed

[2017-05-17 03:34] drahamim commented on #193
Any updates on this?

[2017-05-17 14:32] degemer commented on #193
Hello @drahamim, thanks for your interest!

We're not currently working on this and it's not on our short-term roadmap.
We'd be happy to review/help anyone who would like to implement OS X support though!

[2017-05-31 19:10] olivielpeau commented on #416
This is resolved with #438 and released with version `2.10.1` of the present cookbook, thanks again @straeth1 for your feedback!

[2017-05-31 19:10] #416 closed

[2017-05-31 20:13] mlcooper opened #439 "Windows cookbook version recommendation"
With the release of 2.10.1, is this statement in the README still valid, or will they work if you jump to depending on 3.x of the `windows` cookbook?
[code]

[2017-05-31 23:57] olivielpeau commented on #439
Hi @mlcooper!

This statement is still valid unfortunately. On Windows, if you're using `Chef >= 12.6` and need to use `windows >= 1.39`, `3.0` included, you'll have to use the `remove-dd-agent` recipe before upgrading the agent.

The present cookbook tries to work around multiple edge cases caused by the very inconsistent behavior of the `windows_package` resource depending on the version of Chef

[2017-06-01 13:04] mlcooper commented on #439
I think that's a great idea to ultimately drop the dependency on the `windows` cookbook.

Since support for Ruby v2.1 was dropped on April 1, 2017, the earliest Chef client that runs a supported version of Ruby is now v12.14.60, so I think you can certainly make the case for dropping support for Chef <= 12.6.

[2017-06-05 15:22] vickeyrihal1 opened #440 "how to remove host from dashboard during disposable deployement."
Is there an api call to remove host entry from datadog dasboard, in case that is part of deployment workflow?

Especially, in aws where we need A/B deployment scenario?

[2017-06-09 10:57] rmoriz opened #441 "datadog_monitor usability and YAML mapping"
Usability of this cookbook should be improved:

Every time I need to lookup the available monitor YAML settings on the DD website or the agent python source. Then I need to add it to my chef attributes just to find out that the template does not map those keys yet.

I suggest to retire the entire `datadog_monitor` resource and provide a new resource that just 1:1 maps an array (or hash) structure

[2017-06-09 11:27] rmoriz opened #442 "http_check template does not allow to provide init_config"
file https://github.com/DataDog/chef-datadog/blob/master/templates/default/http_check.yaml.erb

no way to set
[code]

related https://github.com/DataDog/dd-agent/issues/1128

should be a default IMHO

[2017-06-09 12:55] mlcooper commented on #442
I use the `skip_event: true` setting, but under the `instances` section of the `http_check.yaml` config file, and it works fine, as shown in their master http_check example file (it being in the `instances` section):

https://github.com/DataDog/integrations-core/blob/master/http_check/conf.yaml.example#L114

[2017-06-19 15:36] haidangwa opened #443 "package resource needs to allow downgrade"
On a RHEL6 server, our datadog-agent was manually upgraded to the latest version by an indiscriminate `yum update` by an admin not following our chef procedures. This upgraded the datadog-agent to a version newer than what we have configured  in a chef environment. When this occurs, a chef run fails with the following error.

[code]

https://github.com/DataDog/chef-datadog/blob/master/recipes/_ins

[2017-06-19 15:44] haidangwa commented on #443
Closing this bug, because https://github.com/DataDog/chef-datadog/blob/master/recipes/_install-linux.rb#L69 alreadh handles this.

[2017-06-19 15:44] #443 closed

[2017-06-20 20:33] dgreene-r7 opened #444 "Chef_handler 3.0.0 breaks dd-handler recipe"
`chef_handler` [v3.0.0](https://github.com/chef-cookbooks/chef_handler/tree/v3.0.0) was released earlier today and breaks the `dd-handler` recipe.

[code]

Anywhere I've noted `OUR COOKBOOK` in the stacktrace above was just an `include_recipe` call that eventually leads to calling the `datadog::dd-handler` recipe.

Our suggested fix is to pin the `chef_handler` cookbook to the `2.1` line to preven

[2017-06-28 17:07] luckytaxi opened #447 "Possible to install agent without starting it up?"
We build AMI images for all of our apps. I want to speed up the Chef run on firstboot once the ec2 instance comes up. I notice installing the datadog agent takes a bit of time so I wanted to move that piece into the Packer build. How can I go about installing the agent but not have it start and send metrics to Datadog?

[2017-06-28 17:48] luckytaxi commented on #447
It just occurred to me that I could install the RPM package within my Packer script. Since the config file isn't present, the service shouldn't start.

[2017-06-30 22:11] iancward opened #449 "easy_install chef resource is deprecated and was removed from Chef 13"
The ddtrace-python recipe uses the `easy_install` resource that was deprected and removed in Chef 13
https://github.com/DataDog/chef-datadog/blob/master/recipes/ddtrace-python.rb#L6
https://github.com/chef/chef/pull/4860

If this python module is still required, it will probably be necessary to depend on the poise-python cookbok to install it.

[2017-07-07 13:24] rmoriz commented on #444
related https://github.com/chef-cookbooks/chef_handler/issues/61

[2017-07-13 15:47] haidangwa opened #451 "https://github.com/DataDog/chef-datadog/blob/master/attributes/default.rb#L34-L37 should be commented out"
https://github.com/DataDog/chef-datadog/blob/master/attributes/default.rb#L34-L37 show an example of configuring extra endpoints for an agent, like so:

[code]

However, we've never had the need for this actually being in our extra endpoints. This is slightly problematic when we're iterating through `node['datadog']['extra_endpoints']` and we have to remember to skip the `prod` key. Multiply that

[2017-07-13 15:50] haidangwa opened #452 "Extend #395 to accommodate extra_endpoints"
Datadog auth secrets are also stored in extra_endpoints, `node['datadog']['extra_endpoints']`, but #395 fell short in that it didn't cover these attributes. These should also be retrieved from node run state whenever available.

[2017-07-15 20:43] aidanmelen commented on #447
did you try using the agent_start property? Here is an example of how to use it:

[code]

[2017-07-15 21:11] aidanmelen opened #456 "Error executing action `restart` on resource 'service[datadog-agent]'"
I'm testing the functionality of the chef-datadog cookbook by simply installing the agent and configuring the`system_core` intergration (which does not require any attribute values. Here is the `.kitchen.yml` file I am using for this example:

[code]
Now after running the `kitchen verify dd-agent` command, a failure will occur during the convergence phase. More specifically, the dd-agent attempts

[2017-07-15 21:25] aidanmelen commented on #456
I found a solution.

I guess you need to explicitly call the `dd-agent` recipe even though the agent is installed without it...

The working`.kitchen.yml` for installing the `dd-agent` as well as the `system_core` intergration is as follows:

[code]

[2017-07-15 21:25] #456 closed

[2017-07-17 15:39] luckytaxi commented on #447
Doesn't work unless I'm setting it incorrectly. I'm setting this in my role.

[code]

[2017-07-19 12:09] andreimahu opened #457 "Chef Client 13 is skipping datadog::repository"
**Chef Client Version:** 13.x.x
**Issue:** When calling datadog::dd-agent in a role runlist it skips the datadog::repository recipe entirely. The run fails afterwards at the below resource because the prerequisites did not happen:

[code]

**Platform:** Amazon Linux AMI 2017.03.1 (HVM), SSD Volume Type - ami-d7b9a2b1

**Mentions:**
- The node['datadog']['installrepo'] attribute is left as default

[2017-07-20 10:49] andreimahu commented on #457
I managed to find what the issues is. Amazon Linux instances now have their own platform family defined with Chef 13 by ohai. This cookbook has no case for node['platform_family'] = 'amazon' and this is why most of the stuff does not run.

[2017-07-21 19:28] gabinante opened #459 "Windows cookbook install fails regularly"
Currently this cookbook:
uninstalls the current agent
tries to install the latest datadog agent
This fails quite frequently because the windows uninstall process is still running when it tries to run the install of the new agent. A quick resolution would be to add retries to the install process.

[2017-08-21 22:15] iancward opened #461 "[redisdb] no way to set `warn_on_missing_keys` to False"
We have a platform that uses redis for handling queues, and we care about key length so we're using the `keys` stanza in the Redis integration configuration. However, the keys are not always there, so we'd like to use the `warn_on_missing_keys` option, but the template code only sets it to `True` if it's enabled and doesn't seem to provide a way to turn it off.
https://github.com/DataDog/chef-data

[2017-08-30 21:58] chicks-net opened #464 "catch up datadog.conf default values"
According to datadog support:

Can you remove those fields from the cookbook-installed config file?   Or make them both optional and change the default attributes so they aren't included?  https://github.com/DataDog/chef-datadog/blob/master/templates/default/datadog.conf.erb

It also seems that

Can you find a default for this that works better?  Currently it is not optional and it seems like what

[2017-09-07 00:02] olivielpeau commented on #464
Hi @chicks-net!

By default, the 3 configuration options you've mentioned are set by this cookbook to the same values as those the agent uses by default, so even though the cookbook always writes the values in `datadog.conf` it doesn't affect the agent.

The first 2 you mentioned (`dogstatsd_interval` and `dogstatsd_normalize`) are indeed deprecated in the agent. As removing them from the cookbook

[2017-09-07 20:52] chicks-net commented on #464
I don't understand why these matter, but datadog support thinks this is preventing my custom metrics from making it through.  Considering that these values are defaults as you say it seems they might be confused, but I need to get them out of my config which is generated by chef before I can make further progress with support so I'd appreciate it if you could push a new release soon.

[2017-09-19 18:56] dfithian opened #466 "Update README with an example for AWS OpsWorks (chef solo?)"
All I had to do in the end to get this working was to provide the node attributes and invoke the recipe by adding the line `include_recipe 'datadog::dd-agent'` at the top of my `install.rb` but it would probably be nice to include that in the README for those not familiar with Chef in the typical context (definitely me).

[2017-09-19 18:57] dfithian commented on #466
Happy to add this change myself

[2017-09-19 22:56] olivielpeau opened #467 "[systemd] Frequent agent service restarts can lead to chef run failures"
Happens on systemd-based systems when a lot of integrations are being added by the cookbook. The `datadog_monitor` resource restarts the agent after each integration file is added, which can make the service hit the maximum number of restarts allowed by systemd by default (5 every 10 seconds). That limit also applies to "manual" restarts of the service.

We get the following error in systemd's jou

[2017-09-21 15:50] #467 closed

[2017-09-25 15:33] borgilb opened #470 "Log directory wrong for windows installs (/var/log)"
Fairly flagrant bug (I think), note this attribute:
default['datadog']['log_file_directory'] = '/var/log/datadog'

So when I deploy this on windows my logging is broken because the logging config points to a place that doesn't exist.

In the attributes file you already have conditional logic for the config dir:
[code]

Why not just add the logging dir attribute to this block?

[2017-09-28 01:52] iancward opened #473 "[rabbitmq] no way to turn off ssl_verify in RabbitMQ instance"
I added support for the `ssl_verify` RabbitMQ integration in #383; however, now that we're actually trying to use it, there's no way to actually to disable ssl verification because the template or's the attribute value with `true`: https://github.com/DataDog/chef-datadog/blob/master/templates/default/rabbitmq.yaml.erb#L11.

I think what I was actually trying to do there was set it to `true` if the

[2017-09-28 19:03] #473 closed

[2017-09-28 21:08] mlcooper commented on #470
👍 we're seeing this as well
![capture](https://user-images.githubusercontent.com/9505606/30990545-b47b9754-a46f-11e7-9c0a-18d46af5552f.PNG)

[2017-10-02 23:00] bennicholes commented on #470
+1 having this issue as well

[2017-10-04 18:12] C-Moore21 opened #477 "PostgreSQL Example link in https://github.com/DataDog/chef-datadog/blob/master/recipes/postgres.rb 404's"
Correct link:

https://github.com/DataDog/integrations-core/blob/master/postgres/conf.yaml.example

[2017-10-09 09:28] SaurabhDev commented on #416
I am still getting the same issue with windows >=3.0
NoMethodError: visualstudio_edition[visualstudio_2015_community] (visualstudio::install line 29) had an error: NoMethodError: undefined method `success_codes' for Chef::Resource::WindowsPackage
C:/opscode/chef/embedded/lib/ruby/gems/2.4.0/gems/chef-13.5.3-universal-mingw32/lib/chef/resource.rb:1297:in `method_missing'

Could you please provide t

[2017-10-10 21:49] iancward opened #478 "[go-metro] Add Recipe TCP RTT / go-metro integration"
Datadog has a go-metro integration (https://docs.datadoghq.com/integrations/tcprtt/) that requires some additional setup, including packages and PCAP settings. It would be nice if a recipe could be added here to handle those items for you.

[2017-10-10 21:50] iancward commented on #478
I could probably open a PR for this; however, I don't know if there's a "correct" way to call the setcap command that would not involve running the command every time chef ran.

[2017-10-10 22:09] iancward commented on #478
It also looks like upgrading Datadog resets the capabilities on that file.

[2017-10-13 00:08] BhanuCh opened #482 "chef role to install datadog & mongo db"
Hello I have following chef role to configure mongo db integration for datadog.
This is not working. Chef runs successfully but mongo integration is not working.

# # Command
/etc/init.d/datadog-agent info

mongo (unknown)
    ---------------
      - initialize check class [ERROR]: 'mapping values are not allowed in this context\n  in "<byte string>", line 2, column 23'

# # Command
cat /etc/dd-ag

[2017-10-13 10:11] ruanton29 opened #483 "Datadog docker installation"
Hi
I try use datadog docker, and i need some recipe from datadog cookbook ( line nginx , etc) but all recipe include datadog agent install. Can someone add flag like enable\disable agent installation ?
Best regard
Anton

[2017-10-25 18:32] mbaxa commented on #447
I'll chime in that I have this problem too:
From my kitchen.yml
[code]

From the instance:
[code]

[2017-10-26 21:20] mapledyne opened #488 "MSI installer run for DD agent every Chef run"
On Windows, it appears that the DD agent installer is run every time the Chef client runs. This seems to be a different result than other tools and such that we ask Chef to instal. Those seem to make a check ("is this installed?") before installing. Among other things, this makes the event log appear that we're installing the agent over and over again (compared to other tools which only show up wi

[2017-11-02 19:48] jspiewak opened #489 "Support enabling the log agent"
Now that the logs beta has moved to Agent 6, the enabling of the log agent is by adding `log_enabled: true` to `datadog.yaml`

[2017-11-27 13:48] aioue commented on #442
confirming this doesn't remove the deprecation message on `5.20.0`

[code]

[2017-11-30 14:47] olivielpeau commented on #478
Closing, added in #484, thanks again @iancward!

[2017-11-30 14:47] #478 closed

[2017-11-30 14:49] olivielpeau commented on #477
Thanks for reporting this @C-Moore21!

This has now been fixed with #481, closing

[2017-11-30 14:49] #477 closed

[2017-11-30 15:02] olivielpeau commented on #483
Hi @ruanton29,

could you provide a bit more details as to why you wouldn't want the "datadog::nginx" recipe to also include the recipes that install the agent? The latter recipes should (almost) not change anything in the environment unless the agent hasn't already been installed (and as far as I know this should also apply to docker containers).

That said, if you just want to set up a particula

[2017-11-30 15:18] olivielpeau commented on #482
Hi @BhanuCh, thanks for opening this issue.

You can refer to the specific recipe or its template to understand which attributes it expects. In the case of `mongo`, you can refer to https://github.com/DataDog/chef-datadog/blob/v2.12.0/templates/default/mongo.yaml.erb#L3 : it expects a `host` and a `port`, you can probably use `datadog:password@locahost` as the host and `27017` as the port.

Let me

[2017-11-30 15:20] olivielpeau commented on #470
Fairly flagrant bug indeed, thanks @borgilb for reporting it!

Let me fix this now...

[2017-11-30 16:53] olivielpeau commented on #489
Thanks @jspiewak for the suggestion!

Support for the log agent has been added in #490 and will be shipped with `2.13.0`, closing the issue :)

[2017-11-30 16:53] #489 closed

[2017-11-30 16:58] olivielpeau commented on #488
Hi @mapledyne and thanks for reporting this!

Indeed, for some combinations of Chef versions and `windows` cookbook versions, the present cookbook may have suboptimal behaviors like the one you're experiencing (and unfortunately IMO the only way to reasonably fix it would be to drop support of some versions of Chef, especially 12.6 and lower).

What's the version of Chef and of the `windows` cookb

[2017-11-30 17:10] olivielpeau commented on #442
Thanks for providing the workaround @mlcooper.

FWIW the next major of the agent (agent 6, currently in public beta on Linux: https://github.com/DataDog/datadog-agent/) will drop support for sending events from the http_check, which will (incidentally) solve this once and for all.

[2017-11-30 17:10] #470 closed

[2017-11-30 17:22] mapledyne commented on #488
We're using Chef 13.1 and the window cookbook at 3.4.0.

I understand that dropping support for older version of Chef may not work for folks (it wouldn't impact us, but may others). Would there be some way of passing a flag or otherwise checking for an install of data dog? We still want to manage the config, so I assume doing something like would break other functionality:
[code]
but if there was

[2017-11-30 17:38] olivielpeau commented on #447
@luckytaxi @mbaxa Thanks for reporting this issue, could you let me know:
- which distribution (and version) you're trying to install the agent on
- your Chef version
- which version of the agent you're trying to install

Once I have that info I'll try to reproduce on my end and fix the issue

(and thanks a bunch @aidanmelen for the detailed description of the use of `agent_start` 😃  )

[2017-11-30 18:28] mbaxa commented on #447
Ubuntu 16.04
Image Id: ami-8803e0f0
The cookbook version: datadog-2.12.0
That cookbook tries to download the latest I think, so I don't recall the version at the time I was trying to do this.

Locally:
[code]

.kitchen.yml
[code]

[2017-11-30 21:17] cmessinaclearchannel opened #494 "problem adding thresholds ['datadog']['process']['instances']"
I am attempting and failing to add a threshold to a process monitor.

[code]

Since the templates are converting the instance to json and the json to yaml, I believe that is the right syntax, however the end result is yaml that defines

what I get:
[code]

What I want:
[code]

Note that "critical" should not be a list item.

Is my syntax wrong?  Can anyone show me the correct syntax for this so th

[2017-12-01 11:06] #461 closed

[2017-12-01 11:21] ruanton29 commented on #483
Hi @olivielpeau
I could use it like this but we use many of monitoring recipe and it's easy to use it like
1) Put config like include "datadog::nginx"
2) install docker with dataadog
But now i use it like
`if node['datadog_cookbook']['enable']
  service_name = node['datadog_cookbook']['docker']['run']['name']

  node['datadog_cookbook']['monitor_default'].each do |service_to_monitor|
    unless se

[2017-12-01 13:00] olivielpeau commented on #494
Hi @cmessinaclearchannel, thanks for reporting this.

Your syntax looks correct, can you double-check that the attributes you're setting are not getting overridden from some other code? And also double-check that these attributes are what's getting saved on the node at the end of the chef client run.

I've written a spec test that should replicate what you're experiencing, but its result is correc

[2017-12-01 13:46] olivielpeau commented on #488
Off the top of my head I'd say the easiest way to programmatically determine if the Datadog Agent is installed on Windows with Powershell would be to check for the existence of the `DatadogAgent` service, for example by checking the exit code of `Get-Service "DatadogAgent"`.

In https://github.com/DataDog/chef-datadog/issues/439#issuecomment-305350767 I described very briefly what's forcing the wi

[2017-12-01 20:23] cmessinaclearchannel commented on #494
Thanks for your prompt reply.
I double checked my attributes, and discovered a different recipe overriding my value.

Please file this under [PEBCAK](https://en.wiktionary.org/wiki/PEBCAK) with my apologies.

[2017-12-04 14:16] olivielpeau commented on #494
No worries @cmessinaclearchannel and thanks for the update, I'm relieved this wasn't an issue in one of json/yaml libraries! Closing this issue then

[2017-12-04 14:16] #494 closed

[2017-12-13 22:51] azuretek opened #500 "Consul recipe missing supported options"
The consul recipe is missing the `self_leader_check` and `network_latency_checks` options.

https://github.com/DataDog/chef-datadog/blob/168fb332ac601a51376a5a73219913443d91619d/templates/default/consul.yaml.erb

[2017-12-13 22:52] azuretek commented on #500
I've submitted a PR with the necessary changes to the `consul.yaml.erb` template

https://github.com/DataDog/chef-datadog/pull/501

[2017-12-15 18:01] cmessinaclearchannel opened #503 "docker / docker_daemon information for datadog-agent version 5.x and version 6.x"
It seems that docker_daemon is no longer recognized as a check by datadog-agent 6.x
Thus the information in the docker.rb and docker_daemon.rb are no longer accurate.

[code]

creates the following error:

[code]

I changed my recipe to use:
[code]

the check now works with datadog-agent 6, and the integration shows up again on the datadog site for this host.

A quick update to the in-line documen

[2017-12-26 11:16] ayarmoluk17 opened #504 "chef_handler::default recipe is deprecated"
Cookbook version: 2.13.0

When including recipe `datadog::dd-handler` warning is issued during chef run:
[code]

[2017-12-29 15:16] olivielpeau opened #506 "`repository` recipe requires `dirmngr` package on Debian 9"
The `datadog::repository` recipe uses `apt-key`. On Debian 9, it works only if the `dirmngr` package is installed.

The cookbook should make sure `dirmngr` is installed on Debian 9 before using `apt-key`

[2018-01-08 10:13] chen01 commented on #416
@SaurabhDev as it was said above the solution is to use `returns` instead of `success_codes`
example:
[code]

[2018-01-22 18:53] haidangwa opened #507 "Chef 13: easy_install_package has been removed"
Chef run fails with this:

[code]

Chef 12.21.31 does not have this problem.

[2018-01-22 19:08] iancward commented on #507
This is a dup of https://github.com/DataDog/chef-datadog/issues/449.

[2018-01-29 14:07] cyraxx opened #509 "Agent6 recipe does not create config directory"
After enabling `agent6`, agent installation fails with:

[code]

Looking at `recipes/dd-agent.rb`, the agent5 branch explicitly has a `directory` resource to create the config directory, however the agent6 branch only includes `_agent6_config.rb` which does not.

Using Chef 11 for the record although I don't think the behavior of the `template` resource changed between versions.

[2018-01-29 15:27] cyraxx commented on #509
The `conf.d` subdirectory is affected as well.

[2018-02-05 17:11] cikin opened #510 "cassandra.yaml configuration outdated"
https://github.com/DataDog/chef-datadog/blob/master/templates/default/cassandra.yaml.erb
is not reflecting the metrics captured in
https://github.com/DataDog/integrations-core/blob/master/cassandra/conf.yaml.example

[2018-02-07 17:51] jeremy-lq commented on #507
Thanks for the issue report, @haidangwa. Closing this as a dupe.

[2018-02-07 17:51] #507 closed

[2018-02-13 14:37] olivielpeau commented on #500
Just merged #501 which addresses this, will be shipped in v`2.14.0`, thanks again @azuretek!

[2018-02-13 14:37] #500 closed

[2018-02-13 14:48] olivielpeau commented on #457
Was fixed in `2.12.0` through #448, forgot to close this issue at the time.

Thanks @andreimahu for reporting this

[2018-02-13 14:48] #457 closed

[2018-02-13 14:56] olivielpeau commented on #449
Hi @iancward, thanks for reporting this, and sorry I didn't look into this earlier.

If possible I'd like to avoid adding a dependency to the whole cookbook in order to support one recipe for a specific integration. I'm tempted to just document that this recipe is not supported on Chef >= 13, and document what code could be typically added to install the `ddtrace` on Chef >= 13.

Let me know what

[2018-02-13 17:58] olivielpeau commented on #451
Hi @haidangwa, sorry I'm only looking at your issue now.

The cookbook's logic here is to ignore any endpoint defined in `node['datadog']['extra_endpoints']` for which the nested key `enabled` is not explicitly set to `true` (https://github.com/DataDog/chef-datadog/blob/v2.13.0/recipes/dd-agent.rb#L70-L78).

This allows more flexibility if you're defining your endpoints at a high level (for exampl

[2018-02-13 18:02] olivielpeau commented on #452
This would be a welcome feature indeed. Are you still using the `extra_endpoints` on the Agent side? This was originally implemented mostly for our internal usage, but I'd be interested in your use case.

A contribution would be welcome for this feature, I'll put this in triage to estimate demand.

[2018-02-13 18:35] olivielpeau commented on #459
Thanks @gabinante for reporting this (and sorry I missed the issue), have you tried what I wrote here https://github.com/DataDog/chef-datadog/issues/488#issuecomment-348498502?

As you noticed the current logic is pretty convoluted and needs refactoring. Dropping old versions of Chef should allow making the windows logic less brittle.

[2018-02-13 18:38] olivielpeau commented on #466
Hi @dfithian, and thanks for the feedback! Sorry I didn't answer before.

If you have the chance to improve the README with better instructions your contribution would be more than welcome :)

[2018-02-13 18:40] olivielpeau commented on #482
Closing this as I don't think it points to anything broken in the cookbook, @BhanuCh let me know if you still think there's an issue and we can re-open.

[2018-02-13 18:40] #482 closed

[2018-02-13 18:55] haidangwa commented on #452
Yes, we are using the extra_endpoints on the agent side. In our use case,
we are in an enterprise environment where there are two disparate teams
using Datadog to monitor their area of responsibility on that particular
server. So, we have the primary team's keys configured in the main part of
the agent config, and the secondary or other teams are configured with
their keys under extra_endpoints. F

[2018-02-13 19:08] olivielpeau commented on #452
Great, I see, thanks for the explanation @haidangwa!

Just as a general FYI (if someone comes across this issue), using this option without contacting our support team first incurs host double-billing (as each host will be billed for every account to which its agent reports)

[2018-02-13 19:24] haidangwa commented on #451
That sounds reasonable to replicate the logic you have. I'll take a look at
our code. It shouldn't be difficult to replicate.

On Tue, Feb 13, 2018 at 9:58 AM, Olivier Vielpeau <notifications@github.com>
wrote:

[2018-02-13 19:29] olivielpeau commented on #503
Closing this since #502 was merged. Will be released in `2.14.0` (planned for this week). Thanks again @cmessinaclearchannel!

[2018-02-13 19:29] #503 closed

[2018-02-13 19:35] olivielpeau commented on #504
Hi @ayarmoluk17, thanks for reporting this!

Looks like the `chef_handler` resource was added in v`1.4.0` of the chef_handler cookbook (see https://github.com/chef-cookbooks/chef_handler/blob/master/CHANGELOG.md#v140-2016-05-13).

I think it's a good idea to increase our version constraint on that cookbook to `~>1.4.0`, #396 would be a good base to start from. I'll work on that if I have some time

[2018-02-13 19:43] olivielpeau commented on #509
Hi @cyraxx, thanks for opening this issue! The `datadog-agent` package is supposed to be installed first and create that directory, so the use of the `directory` resource shouldn't be needed.

Can you check that the installation of the Agent 6 went fine on that node (and, in particular, that an Agent 5 wasn't installed instead)? Do the chef-client logs show anything unusual on the `package[datadog

[2018-02-13 19:48] olivielpeau commented on #510
Hi @cikin, thanks for reporting this!

You're right this needs updating. I'll work on adding this to the next minor release.

[2018-02-14 21:23] rdickey-r7 opened #512 "Agent Checks Not Installed on Ubuntu"
Starting in version 1:5.22.0-1 the ubuntu install doesn't create or populate the /opt/datadog-agent/agent/checks.d/ directory.

According to https://github.com/datadog/integrations-core this is the newly intended behavior.  This behavior is not reflected in the chef cookbook, and should be.  As in, the agent checks should be installed in the new way by default in the chef cookbook, whatever that m

[2018-02-15 12:24] olivielpeau commented on #512
Hi @rdickey-r7!

The `datadog-agent` package (including version `1:5.22.0-1`) still includes the core checks from [`integrations-core`](https://github.com/datadog/integrations-core) by default. So the cookbook doesn't need to do anything specific for these integrations to be installed.

That said, we are soon going to introduce a new way to upgrade the checks individually (if for instance you want

[2018-02-15 12:24] #512 closed

[2018-02-15 15:45] cyraxx commented on #509
Unfortunately I don't have the logs from the failed attempt anymore.

I just tried on a new instance and indeed, on this machine the recipe ran without errors. On the machine that had the error agent version 5 was installed first and then upgraded to agent 6 by setting the `agent6` attribute and running the recipe again. Maybe that's what causes the issue.

Of the attributes you mentioned we only

[2018-02-16 17:21] olivielpeau commented on #509
Ok, thanks @cyraxx for the explanation, I'm not sure what could've caused this error (upgrades from Agent 5 to 6 have worked fine on our internal environments).

It might help to explicitly set both the `agent_version` (-> agent 5 version) and `agent6_version` (-> agent 6 version) attributes to make sure that the `package` resource actually installs the version you want. You can set both of these

[2018-02-16 17:21] #509 closed

[2018-02-21 16:11] aprice opened #514 "dd-agent recipe reliably fails to start service"
We are using Chef 13.5.3 with the datadog cookbook to install the Datadog agent on Windows Server 2016 EC2 instances. Every time the recipe runs, it causes the Chef run to fail with the following error:

`windows_service[datadog-agent] (datadog::dd-agent line 105) had an error: SystemCallError: A stop control has been sent to a service that other running services are dependent on. - ControlService

[2018-02-22 17:10] smastrorocco commented on #514
Seeing the same issue, Windows Server 2012 R2, chef-client v13.6.4

[2018-02-23 11:29] #510 closed

[2018-03-03 01:29] parak opened #521 "Expired/invalid apt key"
Hi,

Looks like the current apt key specified in repository.rb is no longer valid, and needs to be replaced with 4B4593018387EEAF.

Thanks!

[2018-03-05 12:29] olivielpeau commented on #521
Hi @parak, thanks for opening this issue!

That is correct, the key that's currently specified in repository.rb is no longer valid. I've opened #522 to remove its import from the cookbook.

Note that the newer key (`4B4593018387EEAF`) has been imported by this cookbook since v2.7.0.

[2018-03-05 12:30] #466 closed

[2018-03-05 15:47] PurrBiscuit commented on #521
Hi @olivielpeau - I'm using version 2.7.0 of the datadog cookbook but am still getting an error on the install of the agent from apt-get

[code]

Should this be working with version 2.7.0 of the cookbook or do we need to wait until version 2.14.1 is released with the old key being removed from the `apt_repository` resource?

[2018-03-05 16:03] parak commented on #521
Hmm, not working for me with the newest commit to master either, apt-get update still complains about NO_PUBKEY 4B4593018387EEAF on a fresh install, and the only key present on the system at the time of the error is still C7A7DA52.

However, if I manually add 4B4593018387EEAF or A2923DFF56EDA6E76E55E492D3A80E30382E94DE, then things work fine.

[2018-03-05 16:25] PurrBiscuit commented on #521
I can confirm that running `apt-key del C7A7DA52` on the node first before `apt-get -q -y install datadog-agent=1:5.22.1-1` fixes the issue on version 2.7.0 of the cookbook.  It seems like the apt-get install for the agent will error with that `unauthenticated packages` error if both the expired and newer key are present on the node at the same time.

[2018-03-05 16:40] olivielpeau commented on #521
@parak The `apt_repository` resource should import the correct key on `master`, and in `2.14.0` the previous `execute` resource should import the correct key, so in both cases the newer key should be trusted. It sounds particularly surprising that the old key would still be installed by the `master` cookbook since it's not mentioned anywhere on master. Are you sure this was a fresh environment, an

[2018-03-05 17:03] PurrBiscuit commented on #521
@olivielpeau it looks like a fresh install using version `2.7.0` of the cookbook works fine.  I had been using `2.4.0` on a node and then updated to `2.7.0` and it wasn't working.  All seems ok for me now here.  Thank you.

[2018-03-05 17:19] parak commented on #521
@olivielpeau Sorry, had some ancient code cruft elsewhere in my runlist that was causing this. All good now, thanks!

[2018-03-05 17:21] rlaveycal opened #524 "Agent 6 doesn't install on Windows"
There are several issues with installing Agent 6 on Windows
1. Dependent service restart (fixed by #520 )
1. Config file security not setting Windows values
1. No default for Windows config directory

The config directory for integrations has also changed for Agent 6 to be a sub directory of conf.d (see https://github.com/DataDog/datadog-agent/blob/master/docs/agent/changes.md#checks-configuration

[2018-03-05 17:42] olivielpeau commented on #521
Great, thanks for confirming! I'll go ahead and close the issue then 👍

The old key will not be installed anymore, starting with v2.14.1 of the cookbook. The new key is of course always installed.

[2018-03-05 17:42] #521 closed

[2018-03-06 17:58] olivielpeau commented on #524
Thanks @rlaveycal for the detailed list, very helpful!

I've left a comment on your PR about the sub-directory of conf.d.

The cookbook should also pull the Agent 6 version on Windows from the `agent6_version` attribute to be consistent with the Linux behavior. I'll add this shortly.

[2018-03-06 18:02] olivielpeau commented on #514
Should be fixed by https://github.com/DataDog/chef-datadog/pull/520

[2018-03-07 12:35] #524 closed

[2018-03-21 14:22] #399 closed

[2018-03-21 18:02] olivielpeau commented on #514
#520 was released in `2.15.0`, I'll go ahead and close the issue as resolved, but feel free to comment/re-open if you're the issue isn't fixed for you, thanks!

[2018-03-21 18:02] #514 closed

[2018-03-23 01:45] haidangwa commented on #449
@olivielpeau @palazzem This bug is now  showstopper since Chef 12's End-of-Life [announcement](https://www.chef.io/eol-chef12-and-chefdk1/) has been made by Chef (4/30), we need to accelerate Chef 13 support.

[2018-03-23 01:48] haidangwa commented on #449
`#easy_install_package` appears in two places. The first is mentioned above, and here's the second: https://github.com/DataDog/chef-datadog/blob/420f03a3521522e23c748175bb4136f038645b60/recipes/dogstatsd-python.rb#L20

[2018-03-23 13:18] olivielpeau commented on #449
@haidangwa thanks for the additional info. The `dogstatsd-python` and `ddtrace-python` recipes are not supported with Chef >= 13, I've documented how to work around this in https://github.com/DataDog/chef-datadog/pull/533 if you're currently using one of these recipes, let me know if that helps.

Looking at all the options supported by the `poise-python`, I think it's unwise for the `datadog` cook

[2018-03-23 17:05] haidangwa commented on #449
@olivielpeau Just wanted to report back that the workaround worked for us.

[code]

[2018-03-23 17:08] olivielpeau commented on #449
Thanks! Good to know it worked 👍

[2018-03-29 17:11] iancward opened #535 "[go-metro]: execute[Guard resource] No such file or directory - setcap"
We added the go-metro recipe in #484, but the guard resource runs during compile time. The setcap package isn't installed until run time, so if it's missing, the user will get an error like this:
[code]

We should update the guard to make it lazy (meaning, run the guard at run time--after the package is installed): https://github.com/DataDog/chef-datadog/blob/master/recipes/go-metro.rb#L75

[2018-03-30 15:51] benorgil opened #536 "datadog cookbook constantly failing on windows servers"
Not sure whats causing this, but every few weeks all my windows chef runs start failing because of this datadog  cookbook. I have the version pinned to 2.11.0 so it should not be updating the client, but it looks like it does periodically try to reinstall?

This kills me because every time this happens I have to interactively log into each server and run this command for it to reinstall and the ch

[2018-04-02 16:43] iennae commented on #504
@olivielpeau I wouldn't recommend pinning to 1.4.0 especially with the 2.1.1 version including the fix for Chef 13 compatibility.

[2018-04-03 13:49] olivielpeau commented on #449
Closing this issue: absence of support of these recipes in Chef >= 13 has been documented (along with recommended workarounds), in https://github.com/DataDog/chef-datadog/pull/533

[2018-04-03 13:49] #449 closed

[2018-04-04 16:43] olivielpeau commented on #504
@iennae you're right, thanks for mentioning this, I should've written `>=1.4.0`, we definitely want to allow versions of `chef_handler` that are compatible with Chef 13.

(as an aside, the metadata currently allows any `chef_handler` version `>= 1.1 ` https://github.com/DataDog/chef-datadog/blob/v2.15.0/metadata.rb#L26)

[2018-04-06 15:32] benorgil opened #537 "Is there 6.1 support yet?"
Does the cookbook support 6.1 yet? Where in the cookbook can i see the latest agent version it supports?

[2018-04-09 19:25] stefanwb opened #539 "Replace easy_install resource with something Chef 13 proof"
Deprecation: Easy Install Resource (CHEF-6)

The Python community recommends that users prefer pip rather than easy_install to install python packages.

The easy_install resource was deprecated in 12.10, and will be removed in Chef 13.

Remediation
There is no built in replacement for easy_install in Chef. The poise-python cookbook provides a set of resources for managing Python installations.

ht

[2018-04-12 18:51] renchap commented on #506
According to https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=858238#10, the correct way to fix this is by no longer using the deprecated `apt-key` and putting the keys in `trusted.gpg.d`.

[2018-04-16 21:04] jjasghar opened #541 "Foodcritic errors"
[code]
https://github.com/DataDog/chef-datadog/issues/539

Can yall either accept these style differences and ignore them or resolve it?

/cc @russellseymour

[2018-04-20 20:49] jjasghar commented on #541
[code]

[2018-04-23 18:09] sylvaintremblay666 opened #542 "Problem installing agent6 on ubuntu 14.04 due to upstart"
Installing agent6 on ubuntu 14.04 doesn't work due to upstart.

A bug have already been fixed regarding this for RHEL / Amazon Linux on version 2.14.0 / 2018-02-27, but it doesn't include Ubuntu.

In _recipies/dd-agent.rb_ around line 106, a case for ubuntu 14.04 should be added. To test locally, I simply forced "service_provider = Chef::Provider::Service::Upstart" which made the installation succ

[2018-04-24 09:08] olivielpeau commented on #542
Hi @sylvaintremblay666, thanks for opening this issue!

Chef should detect `upstart` as the default service provider on Ubuntu 14.04 (as upstart _is_ the default init system on Ubuntu 14.04). What's your version of Chef? Is there anything specific about your init system setup on your Ubuntu 14.04 environment?

[2018-04-24 11:16] sylvaintremblay666 commented on #542
Hi @olivielpeau ,

I'm running on AWS with OpsWorks. Chef is a little old (11.10.4).
Running on this AMI : ubuntu/images/hvm/ubuntu-trusty-14.04-amd64-server-20170811 (ami-845367ff)
Nothing special about the machine / its init system.

Thanks a lot,

Sylvain

[2018-05-02 21:58] royaldark opened #543 "Cookbook fails to install on Chef 14"
Following the [datadog Chef installation instructions](https://docs.datadoghq.com/integrations/chef/) on Chef 14 results in the following error:

[code]

I believe this is because the `chef_handler` cookbook is pre-installed on Chef 14, and thus does not need to be listed as a dependency. Possibly the `depends` constraint in `metadata.rb` could be put behind a Chef version check?

[2018-05-03 11:15] mshepet commented on #542
+1
I ran into the exact same issue with agent6 on OpsWorks w/ Chef 11.10 and Ubuntu 14.04. Used sylvaintremblay666's solution to force service_provider = Chef::Provider::Service::Upstart in dd-agent.rb and that solved the installation error.

[2018-05-18 02:38] bnm22 commented on #440
+1

[2018-07-06 07:17] kannan4k commented on #444
@dgreene-r7 We've received the same error when we upgraded to the latest version of chef_handler today. May I know how do you fixed this?

[2018-07-16 18:21] PeterGrace opened #550 "configuration file locations is not up-to-date with default installation in agent 6"
When configuring a redisdb monitor in the datadog cookbook, the cookbook creates file
`/etc/datadog-agent/conf.d/redisdb.yaml`.  In agent version 6, the path is supposed to be
`/etc/datadog-agent/conf.d/redisdb.d/conf.yaml`.

It does not appear that there is code to differentiate this location change (I'm assuming such code would live approximately [here](https://github.com/DataDog/chef-datadog/bl

[2018-07-18 19:29] betesh commented on #321
I just had this problem today and the cause is that DataDog's GPG key had expired.  See https://help.datadoghq.com/hc/en-us/articles/360000886852-Agent-APT-Repo-Key-Rotation.  Running the following command fixed it: `sudo apt-key adv --recv-keys --keyserver hkp://keyserver.ubuntu.com:80 A2923DFF56EDA6E76E55E492D3A80E30382E94DE && sudo apt-get update`

[2018-07-31 07:41] deppfx opened #552 "How to include the IP address instead of localhost in elasticsearch integration"
We have our Elasticsearch running on the IP address and not on open interface (0.0.0.0) or localhost. This renders the recipe unusable as it only accepts strings. Is there a way for us to change it

from:

[code]
to
[code]

https://github.com/DataDog/chef-datadog/blob/master/recipes/elasticsearch.rb

[2018-08-14 21:35] wzcwts521 opened #553 "logs_config missing from datadog.yaml.erb"
[code]
Agent version 6.4.2
[code]
datadog.yml file.
[code]

https://github.com/DataDog/chef-datadog/blob/971791e7fba30e072d3f05edc6a5523155275b1c/templates/default/ @datadog.yaml.erb#L91-L92

seems like missing following format
[code]

[2018-08-18 20:50] komealy opened #554 "chef run fails on trying to start datadog on amazon-linux LTS 2"
I am using this ami provided by amazon: `amzn2-ami-hvm-2.0.20180810-x86_64-gp2 (ami-04681a1dbd79675a5)`

It does not have a platform_version set in ohai:

[code]

The code in the cookbook that checks the amazon_linux version is expecting a value for `platform_version`

[code]

Since this `platform_version = null` this will incorrectly set Upstart for the provider and the chef run fails:

[code]

[2018-08-22 17:00] skarlupka opened #556 "Add Back Support For Tags as List In v6 datadog.yaml File"
The V5 datadog.config file allowed for the tags variable to be passed in as a list object.

https://github.com/DataDog/chef-datadog/blob/971791e7fba30e072d3f05edc6a5523155275b1c/templates/default/datadog.conf.erb#L24

This is no longer supported in V6.  It will only accept a hash https://github.com/DataDog/chef-datadog/blob/971791e7fba30e072d3f05edc6a5523155275b1c/templates/default/datadog.yaml.er

[2018-08-22 22:32] edjackson-wf commented on #554
I'm seeing the same, although it should be addressed by https://github.com/chef/ohai/pull/1214.

[2018-09-07 09:02] kmf commented on #509
We are affected by this issue on one of our nodes, must I open a new issue @olivielpeau

[2018-09-12 22:28] spencermpeterson opened #559 "ignore_resources unable to be added via extra_config/apm_config"
Running into issues populating the ignore_resources directive (possibly) due to the brackets. Escaping the internal quotes allows the string to properly populate into chef as the screenshot shows; however during a chef run, the string is written with single quotes surrounding the brackets, preventing datadog-agent from running. Using chef-12.22.5-1

chef env attributes:
`    "datadog": {
      "ag

[2018-10-25 13:11] olivielpeau commented on #535
Thanks @iancward, makes sense, adding this to the `2.17.0` milestone

[2018-10-29 12:33] arnoldyahad commented on #447
hey is it solved in any version?
having the same problem using 2.8.1

[2018-10-29 18:43] olivielpeau commented on #537
Hey @benorgil, sorry for the very late reply.

The latest version of the Agent should always be supported by the latest released version of the cookbook. I've clarified the README a bit in https://github.com/DataDog/chef-datadog/commit/dd428290f2151bdcd5ef01631f290efbdd380543, let me know if you have any feedback

[2018-10-29 18:43] #537 closed

[2018-10-29 19:04] olivielpeau commented on #539
As discussed in https://github.com/DataDog/chef-datadog/pull/567, we'll:

* deprecate the recipes that use `easy_install` in v2.17
* remove them in v3.0
* document how to use the `poise-python` cookbook to install these python packages

[2018-10-29 19:12] olivielpeau commented on #536
Hi @benorgil and sorry for the very late reply.

To pin the version of the Agent that's installed by the cookbook, you should make sure `agent_package_action ` is left to its default or set to `"install"`, and use the `agent6_version` (Agent v6) or `agent_version` (Agent 5) attribute (see documentation in default attribute file: https://github.com/DataDog/chef-datadog/blob/master/attributes/defaul

[2018-10-29 19:17] olivielpeau commented on #550
Hi @PeterGrace and sorry for the late reply.

This was recently discussed in https://github.com/DataDog/chef-datadog/pull/558#issuecomment-433050683. TL;DR: Agent version 6 still supports reading from the `/etc/datadog-agent/conf.d/redisdb.yaml` config file, so this cookbook works fine with Agent 6, but it'd be a welcome improvement to allow writing files in `/etc/datadog-agent/conf.d/redisdb.d/<a

[2018-10-29 19:21] olivielpeau commented on #552
Hi @deppfx,

Sorry for the late reply.

This should work by setting your attributes like the following:

[code]

I'll go ahead and close this issue, but feel free to comment if you're still having issues!

[2018-10-29 19:21] #552 closed

[2018-10-29 19:34] olivielpeau commented on #559
Hi @spencermpeterson, sorry for the late reply here.

`ignore_resources` expect a _list_ (see https://github.com/DataDog/datadog-agent/blob/6.6.0/pkg/config/config_template.yaml#L668-L671) as value, whereas you're currently defining a _string_ value. So, in ruby, you should define the value as a list as well, i.e.:

[code]

I'll go ahead and close this issue, but feel free to comment here if this

[2018-10-29 19:34] #559 closed

[2018-10-29 20:05] spencermpeterson commented on #559
@olivielpeau thank you for your response. I think I misunderstood the wording from the configuration and assumed that we wanted the ignored resources to be inside the brackets in the datadog.yaml file. I followed your example and now get an output that looks a bit more traditional:

[code]

Thanks again!

[2018-10-30 09:35] olivielpeau commented on #559
Great, thanks for confirming this worked 👍

[2018-10-30 20:07] #338 closed

[2018-10-31 11:58] olivielpeau commented on #543
Thanks for reporting this issue @royaldark (and sorry for the very late reply...)

Unfortunately I don't think there's a way in `metadata.rb` to put the `depends` constraint behind a chef version check. `metadata.rb` has fairly limited semantics.

So, this Chef 14 change is a significant breaking change for this cookbook. Unless I'm missing something I think we'll have to maintain a major branch o

[2018-11-20 20:53] olivielpeau opened #574 "tomcat template formatting issue"
The last 2 `include`s in the `tomcat` template are missing the `attribute` key, which makes JMXFetch log errors and fail to collect the related beans: https://github.com/DataDog/chef-datadog/blob/v2.16.1/templates/default/tomcat.yaml.erb#L63-L78\

(reported on the community Slack, I'll address this in 2.17.0)

[2018-12-06 09:56] rmoriz commented on #312
As you have they key id hardcoded, why not add the key as a file to the repository and skip the keyserver call alltogether?

`key` in `apt_repository` can just point to a cookbook file in https://github.com/DataDog/chef-datadog/blob/master/recipes/repository.rb

e.g.

[code]

and:
[code]

[2019-01-07 15:14] kymagic opened #578 "Escape Characters in log collector config"
The cookbook isn't handling escape characters correctly when specifying log collector configurations.

I'm trying to set multi-line log aggregation rules for Nginx, which requires a regex:

[code]
But the YAML config generated by this is as follows:

[code]

I've tried double- and single-quotes, and whether to double- or single- escape the characters that need escaping, but the only two possible o

[2019-01-15 08:19] ncoquelet opened #579 "[linux] How setup datadog agent with python virtual-env ?"

[2019-01-31 17:55] le-he-hoo commented on #578
@kymagic Thanks for reaching out!

In a yaml file, when you use double quotes around the pattern, an extra escape is needed.  `"\\d{1,3}"` in the YAML configuration file equals `\d{1,3}` for the regular expression.  So, the yaml config generated from the cookbook looks OK with the double escapes since there are double quotes around the pattern.  If there were no double quotes around the pattern, t

[2019-01-31 18:11] remeh commented on #578
Thank @kymagic for reaching out about your issue.

Thank you @le-he-hoo for the great explanation 🙇

I'm closing this issue but as @le-he-hoo mentioned, don't hesitate to open a support ticket if you still have trouble to do multi-line aggregation 👍

[2019-01-31 18:11] #578 closed

[2019-02-13 01:07] gevorg15 opened #581 "Add support for vault monitoring"
Similar to how consul monitoring is done. It would be nice to have support for monitoring HashiCorp vault.

Datadog already supports this but there is no recipe yet in this cookbook.

[2019-02-18 15:36] remeh commented on #581
Hello @gevorg15

You're absolutely right! Thanks to this recently merged PR https://github.com/DataDog/chef-datadog/pull/555 it is now included in master and it will be part of release `2.17.0`.

I'm closing the issue, feel free to re-open it if you still have any concern about this.

[2019-02-18 15:36] #581 closed

[2019-02-26 14:57] #556 closed

[2019-02-27 09:28] remeh commented on #574
https://github.com/DataDog/chef-datadog/pull/583 is fixing this issue, I'm closing it.

[2019-02-27 09:28] #574 closed

[2019-03-05 14:29] remeh commented on #542
Hello! Indeed, Chef < 11.14 doesn't use the correct service provider for Ubuntu. This PR has fixed it. https://github.com/DataDog/chef-datadog/pull/551 and it'll be available in release `2.18.0`.

[2019-03-05 14:30] #542 closed

[2019-03-13 18:21] alexkokkinos opened #592 "Add a cookbook for ddtrace-php"
The [PHP Tracer](https://github.com/DataDog/dd-trace-php) does not yet have a chef cookbook similar to `ddtrace-python` and `ddtrace-ruby`. I would love to see a cookbook added eventually!

I think this would work best if the PHP tracer was published to some sort of repository. Right now my own cookbook uses `remote_file` and `package` to install/upgrade it, and must be changed manually for each r

[2019-03-14 14:10] alexkokkinos opened #593 "Uninstalling RPM leaves behind dynamic library symlinks"
If you uninstall the PHP tracer from a system, it'll leave behind its PHP dynamic library files, which causes constant warnings. Should the RPM uninstallation remove this?

[code]

The two files it leaves behind are:

[code]

`98-ddtrace.ini` contains `extension=/opt/datadog-php/extensions/ddtrace-20131106.so`, which is causing this warning.

[2019-03-14 21:04] alexkokkinos commented on #593
I put this issue in the wrong repo, it was supposed to be in [dd-trace-php](https://github.com/DataDog/dd-trace-php/issues/new). Sorry!

[2019-03-14 21:04] #593 closed

[2019-03-22 16:47] remeh commented on #539
That has been done by #591 and #585. I'm closing this now 👍

[2019-03-22 16:47] #539 closed

[2019-03-22 16:54] remeh commented on #504
Thanks to both of you for your contribution! Having removed the `include_recipe` in https://github.com/DataDog/chef-datadog/pull/597 should remove the warning mentioned here.
We're aware of the deprecation of chef_handler but unfortunately, as mentioned in the PR we still need this dep for Chef 12 / 13 for now.
The deprecation warning mentioned here being removed by the PR, I'm closing this issue

[2019-03-22 16:54] #504 closed

[2019-03-29 02:42] inductor opened #601 "Encounters an error when upgrading v6 from v5 on AWS OpsWorks"
# System condition
- Using OpsWorks on AWS
- Running on Ubuntu 16.04 LTS
- Datadog agent v5 has already installed with 2.16.1 of this repo
  - `/etc/dd-agent exists but not /etc/datadog-agent`

Here's the error log

[code]

I know that there'd be no problem if you destroy the instance and recreate it but is there any way to upgrade it without doing so?

[2019-03-29 16:16] remeh commented on #601
Hey @inductor
Is your dependency to the `datadog` pinned to a specific version? In master, the Agent 6 is now used by default, and seeing your error, it looks like chef tries to look for the Agent 6 configuration file (`/etc/datadog-agent/datadog.yaml`).
If you're currently using master, we would recommend you to set the `agent6` flag to false and and pin the cookbook to a 3.x version. See https:/

[2019-03-30 01:03] irabinovitch commented on #442
Closing this as agent6 is now long been released.

[2019-03-30 01:03] #442 closed

[2019-03-30 02:11] inductor commented on #601
Hi,

In my Berksfile I specified the version with `cookbook 'datadog', '~> 2.18'` and its lockfile shows `datadog (2.18.0)`.

[2019-04-02 06:50] remeh commented on #601
Hello, I missed the actual title of the issue: you're currently upgrading from v5 to v6, correct?
Did you correctly set the 3 needed parameters mentioned [here](https://github.com/DataDog/chef-datadog#upgrade-from-agent-v5-to-agent-v6)?

[2019-04-02 08:00] inductor commented on #601
Thank you so much!
I missed that part in the document...!

It worked :)

[2019-04-02 08:00] #601 closed

[2019-04-02 08:26] remeh commented on #601
Awesome! 👍

[2019-04-10 22:29] jfryer-runoranj opened #603 "dd-handler recipe SSL Error"
On Windows 2016, with datadog cookbook v2.16.1, and Chef Client 13.8.5, When trying to run the datadog:dd-handler recipe I get `[2019-04-10T22:19:11+00:00] ERROR: Report handler Chef::Handler::Datadog raised #<OpenSSL::SSL::SSLError: SSL_connect returned=1 errno=0 state=error: certificate verify failed>`

I've verified the SSL configuration to my chef server is fine. This is the only recipe that t

[2019-04-17 04:12] inductor opened #605 "Docker agent in 6.x"
Hello, I'm confused with the doc for Docker agent.

According to https://docs.datadoghq.com/integrations/docker_daemon/#agent-v6, [docker_daemon](https://github.com/DataDog/chef-datadog/blob/master/recipes/docker_daemon.rb) is deprecated and I should use [docker](https://github.com/DataDog/chef-datadog/blob/master/recipes/docker.rb) instead, but the comment in the docker.rb says it is also depreca

[2019-04-17 11:59] olivielpeau commented on #605
Hi @inductor, since you're using v6 of the Agent you should use the `docker` recipe.

The inline doc in the recipe is a bit misleading, but as described in the docs you linked to (https://docs.datadoghq.com/integrations/docker_daemon/#agent-v6), you should use `docker`.

We'll update the inline docs so they're clearer, thanks for bringing this up

[2019-04-18 01:27] inductor commented on #605
Hey @olivielpeau,

Thanks for the answer! I will have a look on the docker recipe then :)

As for the doc, is `docker` actually "deprecated" as it says for v5 and previous versions, or it is not right information?

[2019-04-18 09:23] olivielpeau commented on #605
Great, let us know how that goes!

The information is actually correct: the `docker` check in v5 is indeed deprecated, but it was fully rewritten in v6, so for v6 Agents the `docker` check is the one that should be used.

[2019-04-24 18:44] edmamerto opened #609 "Does cookbook install python libraries"
I have an issue that's related to this
https://github.com/DataDog/integrations-core/issues/1623

I now know that I just have to install it through the embedded pip which fixed my issue.

My understanding is that the cookbook handles installing the modules in the python checks. If this is not true how are python modules installed. i.e. consul

[2019-04-25 08:08] 4p00rv opened #610 "Unable to modify process_config"
I have tried enabling process_config as per documentation.
[code]

But since the code [here](https://github.com/DataDog/chef-datadog/blob/580149261ed8c736f7461718df64cc12f17d06d6/templates/default/datadog.yaml.erb#L76) is not using `deep_merge` the config is not applied correctly. I think it was missed.

[2019-05-22 06:30] jeremysells opened #619 "Kitchen - No such file or directory - /sbin/status (Ubuntu:18.04)"
I suspect this could be something to do with my setup/system. I have tried to re-install Chef and no luck

**Error**:
[code]

---

**I have replicated it by putting the following files in a folder:**

`.kitchen.yml`
[code]

`Berksfile`
[code]

`metadata.rb`
[code]

---
**INFO**

`Berksfile.lock`
[code]

[code]

[2019-05-22 10:09] jeremysells commented on #619
I think the issue might be that Docker only runs one process and thus the systemd is not running / setup correctly.
[code]

[2019-05-23 11:15] jeremysells commented on #619
Closing as I do not think this is a Datadog issue.

If anyone else finds this issue, I believe it is caused by Docker by its nature. Also a quick test of Dokken, had the same issue though I am not very familiar with Dokken. Basically I believe its because a container runs one process and systemd is not initialised (as its another process).

I solve this by switching over to the Vagrant driver

[2019-05-23 11:15] #619 closed

[2019-06-09 16:54] bangpound opened #627 "node attribute for rtcontainer_interval used for process interval value"
https://github.com/DataDog/chef-datadog/blob/31c0df0bb415407cfcdcf2e2cce7f0ac2dcf7981/templates/default/datadog.yaml.erb#L104

I believe this should be:

[code]

Otherwise, the process_interval node attribute value is not being used anywhere and the rtcontainer_interval is used for the process interval.

If this is true, I'm happy to open a PR to fix it. I just happened to have noticed this, and I

[2019-06-13 18:50] bwillif1 commented on #536
I'm getting the same error code '1603' whenever datadog upgrades the agent. I have datadog pinned to version 6.11.0 in chef, so some of my old clients are upgrading. It removes the agent with no problem but fails to re-install it. I experience the same issue when trying to install the msi manually from the server itself.

Browsing on the datadog site for properly uninstalling the agent https://doc

[2019-06-13 19:46] #610 closed

[2019-06-13 19:47] #627 closed

[2019-06-15 01:38] #605 closed

[2019-06-24 16:01] emillbrandt opened #630 "Support monitoring Postgresql via domain socket."
The current code only supports monitoring via tcp socket.  Here is a corresponding PR: https://github.com/DataDog/chef-datadog/pull/575

[2019-06-27 08:37] remeh commented on #630
Hey @emillbrandt , thanks for the heads-up and for the PR. I've merged it so I'm closing this issue 👍 It'll be shipped with `3.1.0`.

[2019-06-27 08:37] #630 closed

[2019-07-27 21:42] isukapalli opened #637 "datadog agnet6 failing while using amazonlinux in test-kitchen"
Convergence failing when using kitchen-docker with the below error.
[code]
Agent5 works fine and not giving any error.

cookbook version: 3.2.0
image: amazonlinx 2018.03

[2019-07-30 08:23] remeh commented on #637
Hello @isukapalli ,
This is because while running in a Docker container using kitchen-docker, it's most likely that there is no init system running (Upstart, systemd, ...), thus the cookbook can't properly try to start/stop the Agent.
If possible, you can switch to the Vagrant provider.

[2019-08-15 20:41] bwillif1 commented on #256
Hoping to get some traction on this issue, instead of creating a new one. I'm facing this same issue on our windows servers (2012R2 & 2016) periodically.

Datadog cookbook is pinned to 2.18.0
Datadog agent is pinned to 6.13.0

Here is the output of the failed chef-client run when datadog fails to stop the service:

[2019-08-14T11:46:50-07:00] INFO: Processing windows_service[datadog-agent] action

[2019-09-13 15:50] kivagant-ba opened #640 "Datadog kafka_consumer check failing if consumer_groups value is empty"
I had a conversation with DD support and they explained to me the root cause of the Exception we got in logs:

[code]

It turned out that our cookbook settings caused YAML error:

[code]

The resulting YAML looks like this:

[code]
I feel like for some reason this check doesn't work. Am I wrong?

https://github.com/DataDog/chef-datadog/blob/master/templates/default/kafka_consumer.yaml.erb#L11

[co

[2019-09-25 09:20] remeh commented on #640
Hi @kivagrant-ba ! I think the check
[code]
will have the expected behavior if `consumer_groups` is null but it is an empty object in your example.

[2019-11-26 11:45] kivagant-ba commented on #640
It will and that is actually the problem. An empty object technically means the same.

[2019-12-19 19:34] haidangwa opened #672 "dd-handler fails convergence due to extra_endpoints"
We are wrapping this cookbook and in one of our recipes, we're issuing `include_recipe 'datadog::dd-handler'. The chef run fails with only the values set by the datadog cookbook's default attribute `node['datadog']['extra_endpoints']`.

chef version : 15.6.10
platform: Redhat 8

Seems if I set `node.normal['datadog']['extra_endpoints'] = {}` I am able to avoid this problem. Setting this at other n

[2020-01-17 13:27] gangadhar01a opened #682 "chef_handler dependency resulting a WARNING"
We have upgraded chef client to 15 and on a run the following warning message showing up

 WARN: Resource chef_handler from the client is overriding the resource from a cookbook. Please upgrade your cookbook or remove the cookbook from your run_list.

Our cookbook's metadata.rb has a dependency on datadog cookbook which has dependency on chef_handler cookbook.  Chef client 14+ natively included th

[2020-01-17 22:34] jeremy-lq commented on #682
@gangadhar01a  We're currently tracking this feature request. Please open a [support ticket](https://docs.datadoghq.com/help/) so we can add you to the card and notify you when it's been completed.

[2020-01-17 22:34] #682 closed

[2020-01-21 03:43] limitusus opened #683 "dd-agent recipe is not idempotent"
dd-agent recipe always evaluates `ruby_block 'include system-probe'` even after the first run, with rendered template placed on the host.
Chef recipes all should be idempotent, so most of conditionals should be evaluated as guard clauses.
What do you think of moving conditionals in `ruby_block`'s `only_if `clause or `template`'s `only_if` ?

I'm afraid of you need to fix current sysprobe tests som

[2020-02-03 15:02] #194 closed

[2020-02-03 15:03] #255 closed

[2020-02-03 15:04] #146 closed

[2020-02-03 15:46] kbogtob commented on #193
Leaving open to track interest in this.

[2020-02-24 19:27] jaxi opened #692 "Incorrect comments re. value of skip_ssl_validation"
https://github.com/DataDog/chef-datadog/blob/e0451e78b747e307e609f5bb1f4ed9d45b0e51fa/attributes/default.rb#L250 suggests that `skip_ssl_validation` "accepted values 'yes' or 'no'", however in [DD agent proxy config documentation](https://docs.datadoghq.com/agent/proxy/?tab=agentv6v7#datadog-agent-configuration), the value is expected to be a boolean

[code]

I initially gave `default['datadog']['

[2020-02-24 19:29] jaxi commented on #692
PS: if it is regarded as a real issue I'm more than happy to submit a PR to fix it up :)

[2020-02-25 11:00] kbogtob commented on #692
Thanks for raising the issue! I can confirm the issue you are describing for recent agents, but I suppose the yes/no values were used by older agent versions. I'll check and confirm you if want to work on a PR :).

[2020-02-25 12:15] kbogtob commented on #692
The values 'yes' / 'no' were indeed needed by agent v5 (https://docs.datadoghq.com/agent/proxy/?tab=agentv5#datadog-agent-configuration). So the cookbook must support both.
@jaxi could you propose a PR for that? Your contribution would be greatly appreciated.

[2020-02-25 16:18] albertvaka commented on #692
Agent 5 can also take true/false [1], so we should simply change it to print the boolean.

[1] https://github.com/DataDog/dd-agent/blob/master/config.py#L598

[2020-02-25 18:01] jaxi commented on #692
I see. In this case a sane approach might simply be change the default attribute into

[code]

Right now GH keep throwing me 500 on forking the repo, will submit a PR once it comes back to normal :)

[2020-02-25 22:38] jaxi commented on #692
@albertvaka @kbogtob pull request ready in https://github.com/DataDog/chef-datadog/pull/693. Please let me know what you think.

[2020-03-02 15:21] irynadiudiuk opened #697 "Datadog cookbook failing on Windows Server 2019"
Hi there,

We need to install the latest version of Datadog agent on Windows 2019.

I think the issue I am having might have something to do with the following issue:
https://github.com/DataDog/chef-datadog/issues/536

I have not pinned any version at this point.
The version that is being installed is the latest release of datadog version 7, which is at the moment version "7.17.2.1".
After the att

[2020-03-03 01:22] Lkraehen opened #698 "Cookbook fails on windows when username/password not set"
Hi Team,

Since the release of the new version of the DD cookbook 4.2.0 we are seeing installation failure

Looks like there was a change to create some windows ENV vars to store the datadog agent username and password. (when not using defautl)

https://github.com/DataDog/chef-datadog/commit/07d3a62edbd1fd28b119860223bd775ca7d1eef9

However the default value for these attributes is Nil and when us

[2020-03-03 12:12] albertvaka commented on #698
Thanks a lot for reporting this, we will release a fix asap 🙇

[2020-03-03 12:34] #698 closed

[2020-03-03 12:51] kbogtob commented on #697
Hello @irynadiudiuk!
Thanks for raising the issue. It's actually a bug introduced in #691 and #694 and currently reverted by #699. You can now use the v4.2.1 that has the reverted commits.

We will work on the issues of #691 and #694 to allow installation without credentials.

[2020-03-04 11:50] albertvaka commented on #692
Fixed in https://github.com/DataDog/chef-datadog/pull/693

[2020-03-04 11:50] #692 closed

[2020-03-04 13:32] irynadiudiuk commented on #697
Hi @kbogtob,

Thank you so much for your reply. I will try with v4.2.1 now and let you know.

[2020-03-04 21:33] irynadiudiuk commented on #697
@kbogtob,

I have tried with the new version of a cookbook:

'windows-2019: Vendoring datadog (4.2.1) to ../../packaged-cookbooks/datadog'

At the moment, it seems that the error persists:
FATAL: Mixlib::ShellOut::ShellCommandFailed: windows_package[Datadog Agent] (datadog::_install-windows line 112) had an error: Mixlib::ShellOut::ShellCommandFailed: Expected process to exit with [0, 3010], but r

[2020-03-05 11:31] albertvaka commented on #697
If this is not part of a domain, you should be able to not specify a user and password, so the installer creates one for you. If that doesn't fix the issue, we will probably need the installer logs (they are in `%TEMP%\MSI<random_sequence>.log​`), since `1603` is a rather generic installer error. Please open a support ticket and we'll pickup from there.

[2020-03-05 16:04] irynadiudiuk commented on #697
Hi @albertvaka and @kbogtob,

I am happy to let you know that when I left the default values ('nil') for DDAGENTUSER_NAME and DAGENTUSER_PASSWORD I was able to install ddagent successfully.
The only thing that I needed to specify was an 'api_key' attribute.

Thank you for your help, it is much appreciated!

[2020-03-05 16:04] #697 closed

[2020-03-08 15:38] jshrack-ssi opened #702 "Add support for Preso and SystemD integration"
Please add cookbook recipe/template support for both Presto and SystemD integrations.

[2020-05-08 14:23] Swampcritter commented on #536
We are running the datadog cookbook through the use of a in-house wrapper to enable log aggregation. The Linux side of the cookbook works fine, however it keeps failing on the Windows installs.

+---------------------------------------------+
✔ 2 product licenses accepted.
+---------------------------------------------+
Starting Chef Infra Client, version 15.9.17
resolving cookbooks for run list:

[2020-05-14 01:57] Swampcritter opened #713 "Cannot access examples for Windows Event Log"
Per the following recipe file:
https://github.com/DataDog/chef-datadog/blob/master/recipes/win32_event_log.rb

It has in it's comments to look over at:
``
@see https://github.com/DataDog/integrations-core/blob/master/win32_event_log/conf.yaml.example for details
``

However it's not possible to get there as it gives a 404 error.

[2020-05-15 09:47] albertvaka commented on #713
Indeed. Let me fix the broken link. Thanks for reporting this :)

[2020-05-15 14:47] #713 closed

[2020-05-18 14:54] edikmkoyan commented on #440
+1

[2020-05-28 14:08] nia2k7 commented on #321
I just had this issue today and running apt-get update on the instance resolved it. Thanks!

[2020-05-29 15:31] #637 closed

[2020-06-10 17:58] jtstrohl opened #719 "The datadog-agent service is not being registered when installing on Amazon Linux"
After seemingly successful install of the datadog cookbook version 4.3.0 using recipes _dd-agent_ and _dd-handler_, I can see that the Datadog agent is running and showing up in the Datadog web console.  However, according to the Datadog documentation [here](https://docs.datadoghq.com/agent/guide/agent-commands/?tab=agentv6v7), we should be able to run the following Linux command to get version an

[2020-06-11 09:12] albertvaka commented on #719
Hi @jtstrohl!

Amazon Linux uses systemd, so the init config doesn't need to be in /etc/init.d/datadog-agent (although, I think we still install it, so maybe that's a )

systemctl daemon-reload

[2020-06-11 22:12] jtstrohl commented on #719
Hi @albertvaka -

Thanks for your response....We are using Amazon Linux 1 which does NOT use systemd, so unfortunately, I cannot run the `systemctl` command because the command doesn't exist on this version.

The funny thing is, we build off of the same AWS AMI every time.  When we were using datadog cookbook version 2.16.0, the service installs successfully, and the `/etc/init.d/datadog-agent` fi

[2020-06-12 08:46] albertvaka commented on #719
Hi again @jtstrohl,

I think I know what happens here. Cookbook 2.x installed Agent 5 by default, while the current cookbook installs Agent 7. While the Agent 5 RPM package included SysV init files, it's not the case for the Agent 7 RPM package.

I don't think there is enough demand for SysV init files to justify adding them at this point, but I will pass it as a feature request for the Agent team

[2020-06-12 09:21] albertvaka commented on #719
Reading a bit about AL1, it seems to use upstart and not SysV. In that case, the following command should work: `sudo  initctl status datadog-agent`

[2020-06-12 15:59] jtstrohl commented on #719
Thanks @albertvaka ....  That explanation makes a lot of sense actually -- So the difference is in the agent RPM package, not with the cookbook/recipe or their dependencies.

AL1 does appear to support upstart, although the `initctl` command does not exist on my instance.

I did discover that I can run the following commands respectively to start, stop, and status the agent process, even though it

[2020-06-16 19:46] albertvaka commented on #719
I'm happy that works for you :) Note that `datadog-agent run` will make it run on the foreground, though (as compared to SysV commands, that would spawn a background process). We will update the docs to reflect platform-specific commands.

[2020-08-05 18:52] KaelenProctor commented on #447
I am also encountering the same issue in the context of building an AMI.

Distribution: Ubuntu 18.04
Chef: 12.22.5
Agent: 7.21.0
Datadog cookbook version: 4.2.1

While debugging it appears to me that datadog-agent is started by the other systemd services such as datadog-agent-process or datadog-agent-trace which are enabled even though datadog-agent isn't. However process/trace exit because they a

[2020-08-07 08:15] albertvaka commented on #447
Thanks a lot for debugging the issue @KaelenProctor! The process and trace agents need the main agent to run, so we can't support having the main agent disabled and some of the other agents enabled.

What I think we could do, however, is a) better document this behavior and b) print a warning if the desired configuration can't be achieved.

[2020-08-07 12:05] #447 closed

[2020-09-21 09:32] stianfro commented on #702
+1 for systemd

[2020-09-21 10:33] albertvaka commented on #702
I know it's not ideal, but note that you can use `datadog_monitor` to set up integrations that don't have a recipe yet.

See: https://github.com/DataDog/chef-datadog#datadog_monitor

[2020-09-22 12:49] stianfro commented on #702
Using `datadog_monitor` for systemd just results in an error because there is no template for it:

[code]

Using the resource like this:
[code]

[2020-09-22 13:57] albertvaka commented on #702
Hi @stianfro

If you pass:

 ```use_integration_template          true```

Then it will use a default template that essentially puts whatever you specify as `instances`, `logs` and `init_config` in the output yaml.

Let me know if it works for you :)

[2020-09-22 16:44] stianfro commented on #702
@albertvaka just what I was looking for, it works great! :)

Here's what I ended up with for anyone interested:
[code]

[2020-10-08 07:37] kmf opened #745 "Feature Request: Policyfile Support"
Hi there

We are using Datadog and Chef,  we use both runlists/enviroments and Policyfiles
could you please add support for Policyfiles?

https://docs.chef.io/policyfile/

Karl

[2020-10-08 16:14] kmf commented on #745
Yes. We've done this already however the chef metadata from the node does not get populated in Datadog.

[2020-10-08 20:53] kmf commented on #745
`default['datadog']['send_policy_tags'] = true `

I guess this can help 😉

[2020-10-09 05:20] #745 closed

[2020-10-10 15:58] renchap opened #747 "Run fails with latest Chef client: undefined method `to_yaml' for #<Hash>"
After updating to Chef 16.5.17, I am getting the following error:

[code]

I assume this comes from this change: https://github.com/chef/chef/pull/10383/files#diff-56181b7867c876de4e63eff4b4e06504

The `yaml` gem is no longer loaded all the time, but only when explicitly used, so now there may not be a `Hash#to_yaml` method defined as the gem has not yet been loaded.

Requiring this gem from an ea

[2020-10-12 06:55] Roopeshvarmanampally commented on #747
I am also facing the same issue
`Recipe: datadog::_install-linux
  * apt_package[datadog-agent] action install (up to date)
Recipe: datadog::_agent6_config
  * template[/etc/datadog-agent/datadog.yaml] action create

    ================================================================================
    Error executing action `create` on resource 'template[/etc/datadog-agent/datadog.yaml]'
    ==

[2020-10-13 07:43] haidars opened #748 "[centos8][gpupg] Conflit with gpupg2"
Hello,

in the `Repository` Recipes, we enforce the installation of `gpupg` on `RHEL`,`Fedora` while `CentOS/RHEL 8` came with `gnupg2` built-in in it protected repository.

This create a conflit when the cookbook try to install that package

[code]

[code]

[2020-10-16 09:29] albertvaka commented on #747
@renchap @Roopeshvarmanampally can you try with version 4.6.0 which got just released? https://supermarket.chef.io/cookbooks/datadog

[2020-10-20 07:17] haidars commented on #748
closing the issue.

Bug corrected in #750

[2020-10-20 07:17] #748 closed

[2020-11-27 20:53] fabiomsouto opened #758 "No way to configure `env` in agent's main configuration file"
Hey,

In the documentation for Unified Service Tagging, for system metrics (https://docs.datadoghq.com/getting_started/tagging/unified_service_tagging/?tab=systemmetrics), you require the configuration of a `env` property in the agent's main configuration file (`datadog.yaml`), but it seems this parameter is not configurable via this chef recipe. I had a look at https://github.com/DataDog/chef-dat

[2020-11-30 23:01] albertvaka commented on #758
I've opened #759 to add this setting. Note, however, that you can add any setting you want to end up in `datadog.yaml` as key-value pairs under `node['datadog']['extra_config']`. This way you don't have to wait for my change to get merged and released :)

[2020-12-02 09:54] fabiomsouto commented on #758
Thank you @albertvaka, was unaware of this!
I can see the changes are already merged in, which is awesome, cheers!

I'm closing this issue then.

[2020-12-02 09:54] #758 closed

[2020-12-14 20:17] haidars commented on #603
are you using any proxy to connect to the external network

[2021-01-21 01:03] danielcbright opened #774 "Add Datadog Log Management Functionality"
### Adding Log Management Functionality as a Built-in

This is to track the adding of the Log Management Functionality into the Datadog cookbook.

I already have a working recipe that looks like this:

[code]

I'm trying to figure out what other attributes I should add, those are the ones I could find on the integrations page in DD.

[2021-02-09 17:29] EladLeev opened #775 "Support custom MBean collection"
Hi,
When using the Kafka integration, you can determine what version of Kafka are you running, and the template will [generate](https://github.com/DataDog/chef-datadog/blob/master/templates/default/kafka.yaml.erb) a list of MBeans to collect based on it.

This is great, but Kafka offers [much more](https://gist.github.com/thbkrkr/77c8f6f9a301d7b16555726793af8301) metrics than the sample ones in th

[2021-02-09 18:48] lchayoun commented on #775
Adding to that, the [example](https://github.com/DataDog/integrations-core/blob/master/kafka/datadog_checks/kafka/data/conf.yaml.example) configuration for the kafka integration has much more options that what is available through the [template](https://github.com/DataDog/chef-datadog/blob/master/templates/default/kafka.yaml.erb).

It would be great to add a way to control all of those options.

[2021-02-10 11:28] albertvaka commented on #775
Thanks for reporting this! Indeed, the kafka config template provides some pre-defined metrics that we should probably remove and leave up to the user to configure. Unfortunately this is most likely a breaking change, so we might need to hold that change until the next major version. However, in the meantime, note you can set any check config you want by using the `datadog_monitor` resource, which

[2021-02-10 12:09] lchayoun commented on #775
Hi @albertvaka, thank you for the quick response.
I think that we can use the `version` (`['datadog']['kafka']['version']`) and in version 3 enable the new behavior.

[2021-02-11 11:46] albertvaka commented on #775
@lchayoun I've implemented your suggestion in #776 :)

[2021-02-12 08:56] lchayoun commented on #775
LGTM 😃

[2021-02-15 11:31] #775 closed

[2021-04-26 18:22] RulerOf opened #790 "SOLR Integration doesn't work when configured with Chef"
When I configure the integration with SOLR, it writes [this YAML config](https://github.com/DataDog/chef-datadog/blob/785af6cbbc11c0e1afb759e9005e07002a61047e/templates/default/solr.yaml.erb) which is nothing at all like the [documentation for the solr integration](https://docs.datadoghq.com/integrations/solr/?tab=host).  After applying the chef config and checking DataDog, I have no metrics match

[2021-04-26 18:59] albertvaka commented on #790
Indeed, the template is a bit old and hasn't been updated for a few years... Looks like it is missing the `is_jmx` bit, and without that it won't work on recent versions of the Agent. I'll open a PR to add it, thanks for reporting :)

[2021-04-29 10:22] #790 closed

[2021-05-17 16:53] gupps8117 opened #797 "Agent conflicts with Docker Registry on port 5000"
Describe what happened:

After installing the agent on our GitLab server, we encountered issues with GitLab Container Registry. The issue didn't appear immediately after the agent was installed but after the scheduled server update followed by the restart.

Suddenly, all attempts to push to the container registry started to fail with a 404 error. It significantly disturbed the work of our developm

[2021-05-20 06:47] lchayoun opened #798 "Breaking change introduced in version 4.10.0 - network monitoring"
In this PR, the network monitoring attribute was changed, breaking existing configurations:
https://github.com/DataDog/chef-datadog/pull/784/files

[2021-05-20 08:42] albertvaka commented on #798
The PR should just add new fields, so we assumed that wouldn't be a breaking change. Is that causing you problems? What errors do you get because of that?

[2021-05-20 10:37] lchayoun commented on #798
You can see this comment:
https://github.com/DataDog/datadog-agent/blob/140a4ee164261ef2245340c50371ba989fbeb038/releasenotes/notes/system-probe-add-network-enable-flag-d08ed22107446437.yaml

It is specifying that adding the `network_config` is causing the network to be disabled.
Without it, when the system probe was enabled, the network monitoring was enabled as well

[2021-05-25 10:54] #798 closed

[2021-05-28 09:19] axl89 opened #800 "logs_agent_config attribute is ignored"
This issue seems related with #704 .

When having a datadog role like the following one, the `/etc/datadog-agent/datadog.yaml` does not print the `logs_agent_config` section:

### Role

[code]

### Obtained datadog.yaml

[code]

[2021-05-28 09:24] axl89 commented on #800
We ended up having to modify the role (the `datadog.extra_config` section to be precise) as this to get it working:

[code]

[2021-06-11 16:28] vpilania opened #802 "Incoreect Hostname in datadog.yaml file"
Hi I'm using chef-client 12.22.1 on Amazon Linux AMI release 2018.03 to install datadog-linux-agent v7 via latest chef-cookbook. I'm seeing that in the datadog.yaml, the hostname when I leave it to autodetect it's not picking up the instance-id but "Name" of the AWS instance

How to fix that?

[2021-06-14 11:02] olivielpeau commented on #802
Hi @vpilania,

Can you confirm that, in `datadog.yaml`, the `hostname: ` field is not specified or has an empty value?

If so, then the cookbook works as expected to make the Agent autodetect its hostname, so please [open a case with our support team](https://www.datadoghq.com/support/) and send them a [flare](https://docs.datadoghq.com/agent/troubleshooting/send_a_flare/?tab=agentv6v7#pagetitle)

[2021-06-14 11:18] vpilania commented on #802
hostname: field is not empty when I run but captures Name of the instance and not for example 'i-abcw123eqe' which I expect!

[2021-06-14 11:38] olivielpeau commented on #802
The default behavior of this cookbook is to set the agent hostname to the Chef node name (`node['datadog']['hostname'] = node.name`, see [default attribute](https://github.com/DataDog/chef-datadog/blob/e864d0117fba998fcc858c40409e3be48d5b7bf3/attributes/default.rb#L239)). To set the agent hostname to the AWS instance ID, you can override this default to `node.ec2.instance_id`, for example with:

[

[2021-06-23 12:34] vpilania commented on #802
![image](https://user-images.githubusercontent.com/8692530/123096974-4c251100-d44d-11eb-9a20-f19428cc07e7.png)

I'm getting this problem in which hostname is getting registered with two different instance-id out of which one is correct....why would that happen?

[2021-07-26 08:44] lchayoun opened #805 "integration resource should notify a restart of the agent after installing a new version"
As documented here: https://docs.datadoghq.com/agent/guide/integration-management/#install
"After upgrading, restart your Agent to begin using the newly installed integration"

The issues is, that after upgrading an agent version, all the integration conf files are the same so the agent is not restarted after installing the new agent version and the integration on it.

Same issue occurs when runni

[2021-08-01 13:08] lchayoun commented on #805
@albertvaka Any schedule for a new release?

[2021-08-04 15:00] #805 closed

[2021-08-09 09:17] albertvaka commented on #805
Hi @lchayoun! We should release a new version soon, hopefully this week :)

[2021-08-17 08:42] lchayoun opened #809 "Support cookbook renaming"
In many places there is `include_recipe` with reference to `datadog` cookbook.
To support cookbook renaming they should use `::<recipe>`

[2021-08-18 14:46] #809 closed

[2021-08-18 18:28] lchayoun commented on #809
Will there be another release with this fix? currently I'm unable to test the last version with the repository change

[2021-08-23 22:52] mbaitelman opened #814 "undefined method `to_yaml' in newer versions of Chef"
We are using `Chef Infra Client, version 16.13.16` and seeing the error below.

It seems to be a known issue with a simple fix https://github.com/chef/chef/issues/10492
I created #813 to address

[code]

[2021-08-24 10:13] albertvaka commented on #814
Fixed by #813

[2021-08-24 10:13] #814 closed

[2021-08-24 10:14] albertvaka commented on #809
I'm going to make a new release now @lchayoun, thanks for your patience and thanks again for your patches :)

[2021-08-25 08:44] lchayoun commented on #809
Thanks! Used it now, working great.

[2021-10-07 10:01] fatbasstard opened #821 "Chef Infra 18 deprecation warnings"
Hi,

When moving to Chef Infra 17 we get some deprecation warnings:

[code]

[2021-10-15 00:17] axl89 opened #824 "Deprecation CHEF-25"
When running the CI with `deprecations_as_errors:true`, the [CHEF-25 deprecation error](https://docs.chef.io/deprecations_map_collision/) is shown as seen [here](https://app.circleci.com/pipelines/github/DataDog/chef-datadog/463/workflows/1ff50bfd-ad9a-4fcd-a02a-755b4354a579/jobs/5314):

[code]

[2021-10-15 00:18] axl89 commented on #824
Related with https://github.com/DataDog/chef-datadog/pull/822 (https://github.com/DataDog/chef-datadog/pull/822/commits/af442c5f8b36b65697ae8e6c88f6bec10c8b34a7 and https://github.com/DataDog/chef-datadog/pull/822/commits/c696b3a0b325ca5b6f37503a2539359124efc37f).

[2021-10-19 21:09] albertvaka commented on #824
We document that deprecation warning in the README, but we can't do much about it if we want to stay compatible with older Chef versions. Enabling `deprecations_as_errors` on the CI could be helpful, so it sounds like a good idea to silence the warning there and enable that option. I've opened a PR with the change: https://github.com/DataDog/chef-datadog/pull/826

[2021-11-30 14:07] olivielpeau commented on #506
Initially fixed in https://github.com/DataDog/chef-datadog/pull/629, and the correct fix for newer distros was implemented in https://github.com/DataDog/chef-datadog/pull/796, closing

[2021-11-30 14:07] #506 closed

[2021-12-02 16:14] rmoriz commented on #441
this is still an unresolved issue.

for example:

- https://github.com/DataDog/chef-datadog/blob/main/templates/default/nginx.yaml.erb
- https://github.com/DataDog/integrations-core/blob/master/nginx/datadog_checks/nginx/data/conf.yaml.example

[2021-12-02 22:45] albertvaka commented on #441
Hi @rmoriz!

A generic `datadog_monitor` resource already existsts, with the fields `init_config`, `instances` and `logs` which are just generic maps/arrays. For it to work, you also need to set `use_integration_template` in it to `true`. You can see an example in the readme under [Integrations without recipes](https://github.com/DataDog/chef-datadog#integrations-without-recipes).

The reason the

[2021-12-15 18:04] haidangwa commented on #452
@olivielpeau bump

[2021-12-24 13:18] #821 closed

[2022-01-18 14:21] fatbasstard opened #835 "Support for UPSC"
Hi,

Just found out abut the UPSC integration, can this be added?

Documentation:

* https://docs.datadoghq.com/integrations/upsc/

[2022-01-19 11:45] albertvaka commented on #835
Hi!

Some integrations don't have specific recipes, but you can still configure them using the `datadog_monitor` resource. In this case, since UPSC is a community integration that doesn't come packaged with the Agent, you also need to use the `datadog_integration` resource to install it. A recipe to install and enable the UPSC integration would look something like this:

[code]

[2022-02-15 21:46] 416a commented on #797
Hi [gupps8117](https://github.com/gupps8117)!
You probably resolved this by now but in case you or other's haven't, yes there's a way to use the DataDog's cookbook attributes to override this port.

See https://github.com/DataDog/chef-datadog#extra-configuration

For the go_expvar port conflict (I also ran into the same Docker+go_expvar issue), you would use the following:
[code]

All the best and

[2022-03-29 16:57] vpilania opened #842 "2022 Linux Agent Key Rotation for someone using v4.10.0"
Hi Team,

I'm using v4.10.0 for Datadog Linux agent that I'm installing on Amazon Linux machines (both 1 & 2). I referred to this [page](https://docs.datadoghq.com/agent/guide/linux-agent-2022-key-rotation/?tab=redhatcentossuse) which mentions I should be using v4.11.0+ in order to prevent any issues after April'22 as GPG keys will be rotated.

However after following the process to check whether

[2022-03-29 17:07] albertvaka commented on #842
Hi @vpilania,

Indeed, as you found, for RPM-based systems v4.10 already did trust the new signing keys, so you don't need to do any further action. The reason we mention 4.11+ in the docs is that this is the version where we introduced the changes DEB-based systems.

So, if if you are not running Debian, Ubuntu, or any Debian-based distro, 4.10 already works for you. If you have any Debian-based

[2022-03-30 09:56] driesgroblerw opened #844 "Windows system_probe commits missing from the latest datadog cookbook (4.12.0)"
Specifically https://github.com/DataDog/chef-datadog/commit/03df284b37303ca638fa9eca46a7c995afba4970

Can you please let me know when this will be added to https://supermarket.chef.io/cookbooks/datadog ?

[2022-03-30 11:34] vpilania commented on #842
Thanks @albertvaka . I think you shud improve this [help guide](https://docs.datadoghq.com/agent/guide/linux-agent-2022-key-rotation/?tab=redhatcentossuse) then to avoid any confusion to anyone like me. It should clearly mention what you're saying above.

[2022-03-30 18:22] albertvaka commented on #844
🚀 🚀 🚀 Version 4.13 was just released: https://supermarket.chef.io/cookbooks/datadog/

Thanks for the ping about this 😃

[2022-03-30 19:41] albertvaka commented on #842
Thanks for the feedback @vpilania! 😄 We discussed this and to keep the docs as simple as possible, we prefer to only list one version there.

[2022-05-10 14:46] mikespharss opened #847 "remove_dd_agent recipe does not remove the apt source nor datadog-signing-keys package"
We ran into an issue recently where some instances were reporting warnings when trying to perform apt updates:

[code]

These instances did not in fact have the datadog-agent installed, but it had been installed at some time in the past and was removed, using the `remove_dd_agent` chef recipe.

However it appears that this recipe only purges the datadog-agent package, but leaves behind the source

[2022-05-12 15:04] jyotijazz commented on #175
Could someone help me in resolving the error below which I am getting while chef is trying to install datadog agent on AWS Ubuntu host.

10.10.12.238 [2022-05-11T15:48:44+00:00] FATAL: Chef::Exceptions::Package: apt_package[datadog-agent] (datadog::_install-linux line 34) had an error: Chef::Exceptions::Package: No candidate version available for datadog-agent
=====================================

[2022-05-12 15:09] jyotijazz opened #848 "Could someone help me in resolving the error below which I am getting while chef is trying to install datadog agent on AWS Ubuntu host."
Could someone help me in resolving the error below which I am getting while chef is trying to install datadog agent on AWS Ubuntu host.

10.10.12.238 [2022-05-11T15:48:44+00:00] FATAL: Chef::Exceptions::Package: apt_package[datadog-agent] (datadog::_install-linux line 34) had an error: Chef::Exceptions::Package: No candidate version available for datadog-agent
=====================================

[2022-05-12 16:48] jyotijazz commented on #848
PFB metadata file.

name             'datadog'
maintainer       'Datadog'
maintainer_email 'package@datadoghq.com'
license          'Apache-2.0'
description      'Installs/Configures datadog components'
long_description IO.read(File.join(File.dirname(__FILE__), 'README.md'))
version          '4.4.0'
chef_version     '>= 12.7'
source_url       'https://github.com/DataDog/chef-datadog'
issues_url

[2022-05-13 09:02] jyotijazz commented on #848
PFB. We have used nil at most of the places

# Agent major version
default['datadog']['agent_major_version'] = nil # nil to autodetect based on 'agent_version'

# Agent Version
# Default of `nil` will install latest version. On Windows, this will also upgrade to latest.
# This attribute takes a `string` with a version number. For compatibiliy reasons it can also take a
# hash with the platform_nam

[2022-05-13 14:40] jyotijazz commented on #848
Thank you so much for your help. The issue was that agent key was rotated on 2nd may and I updated it. It works fine now
https://docs.datadoghq.com/agent/guide/linux-agent-2022-key-rotation/?tab=debianubuntu

[2022-05-13 15:49] #848 closed

[2022-05-20 13:25] marnixgb opened #849 "Consul Prometheus support missing"
datadog::consul should be able to have passed to it the setting :

'use_prometheus_endpoint' => true

This is essential for datadog monitoring and is the simplest route that most people will want to use with consul. Trying to implement the change at present appears to be just ignored by the chef recipe necessitating the need for an ugly workaround!

Thanks in advance

[2022-07-05 08:27] fatbasstard commented on #835
Hi @albertvaka ,

Sorry for the late reply, but I can confirm the `datadog_integration` indeed works. Got `datadog-upsc` integration working and metrics are flowing in! 🎉

[2022-07-05 08:27] #835 closed

[2022-07-19 15:18] linceaerian opened #855 "[doc] Correct example in windows_service"
Can you fix the doc in :  https://github.com/DataDog/chef-datadog/blob/main/recipes/windows_service.rb

Based on your current cookbook, the documentation should make reference to an array of hash, not a hash of array of hash...
AKA something like

[code]

Should be:

[code]

Regards